Repository avpaul/watchtower: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint 'src/**/*.{js,jsx}' -c .eslintrc.json --fix, prettier-stylelint --write 'src/**/*.{css,scss}', pretty-quick --staged, react-scripts test src/ -b --forceExit --coverage --watchAll=false

Revert "TOWER-76 Update PR Template to conform to JIRA conventions"
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

TOWER-79-task(routes): update routes
  src/components/EngineerProjectSummaryCard/EngineerProjectSummaryCard.js
  src/redux/actionCreators/__tests__/cadreProjectCreateRole.spec.js
  src/redux/actionCreators/__tests__/cadreProjectRoleActions.spec.js
  src/redux/actionCreators/__tests__/engineersReportActions.spec.js
  src/redux/actionCreators/__tests__/fellowActiveRoleAction.spec.js
  src/redux/actionCreators/__tests__/projects/createProjectAction.spec.js
  src/redux/actionCreators/__tests__/projects/getProjectAction.spec.js
  src/redux/actionCreators/cadreProjectRoleActions.js
  src/redux/actionCreators/engineersReportActions.js
  src/redux/actionCreators/fellowActiveRoleActions.js
  src/redux/actionCreators/projectsActions.js
  src/routes/FellowRoutesHoc.js
Due: eslint 'src/**/*.{js,jsx}' -c .eslintrc.json --fix, pretty-quick --staged, react-scripts test src/ -b --forceExit --coverage --watchAll=false

TOWER-73-story(fix): fix pagination and search engine
  src/components/Reports/ReportSummary.jsx
  src/components/Reports/Table.jsx
  src/views/CadreDashboard/ReportsDashboard/ReportsDashboard.jsx
  yarn.lock
Due: eslint 'src/**/*.{js,jsx}' -c .eslintrc.json --fix, pretty-quick --staged, react-scripts test src/ -b --forceExit --coverage --watchAll=false

bug(add-project): fix feedbacks for add project links
  src/components/FormInputs/__tests__/__snapshots__/linksUpload.spec.js.snap
  src/components/FormInputs/fileUploadInput.scss
  src/components/FormInputs/linksUploadInput.jsx
  src/components/FormInputs/linksUploadInput.scss
Due: eslint 'src/**/*.{js,jsx}' -c .eslintrc.json --fix, prettier-stylelint --write 'src/**/*.{css,scss}', pretty-quick --staged, react-scripts test src/ -b --forceExit --coverage --watchAll=false

TOWER-54-bug-(styling): project roles horizontal scroll
  src/assets/sass/index.scss
  src/assets/sass/utilities/_utilities.scss
  src/components/CadreProjectDetails/ProjectDetailsCardSmall.jsx
  src/components/Reports/ReportSummary.jsx
Due: eslint 'src/**/*.{js,jsx}' -c .eslintrc.json --fix, prettier-stylelint --write 'src/**/*.{css,scss}', pretty-quick --staged, react-scripts test src/ -b --forceExit --coverage --watchAll=false

TOWER-59-story(vacancies-ops): tdd-ops can view all vacancies
  dump.rdb
  src/components/TDDOpsVacancyCard/TDDOPsVacancyCard.js
  src/components/TDDOpsVacancyCard/TDDOPsVacancyCard.scss
  src/components/TDDOpsVacancyCard/__test__/TDDOPsVacancyCard.spec.js
  src/components/TDDOpsVacancyCard/__test__/__snapshots__/TDDOPsVacancyCard.spec.js.snap
  src/redux/actionCreators/__tests__/projects/createProjectVacanciesAction.spec.js
  src/redux/actionCreators/__tests__/projects/fetchAllProjectVacancies.spec.js
  src/redux/actionCreators/projectVacancyActions.js
  src/redux/constants/projectsTypes.js
  src/redux/reducers/__tests__/getAllVacanciesReducer.spec.js
  src/redux/reducers/getAllVacanciesReducer.js
  src/redux/reducers/index.js
  src/redux/reducers/initialState.js
  src/views/CadreDashboard/VacanciesDashboard/AddVacanciesModal/AddVacanciesModal.jsx
  src/views/CadreDashboard/VacanciesDashboard/AddVacanciesModal/AddVacanciesModalContainer.js
  src/views/CadreDashboard/VacanciesDashboard/VacanciesDashboard.jsx
  src/views/CadreDashboard/VacanciesDashboard/VacanciesDashboardContainer.jsx
  src/views/CadreDashboard/VacanciesDashboard/ViewVacancies/ViewVacancies.js
  src/views/CadreDashboard/VacanciesDashboard/ViewVacancies/ViewVacancies.scss
  src/views/CadreDashboard/VacanciesDashboard/ViewVacancies/__tests__/ViewVacancies.spec.js
  src/views/CadreDashboard/VacanciesDashboard/ViewVacancies/__tests__/__snapshots__/ViewVacancies.spec.js.snap
  src/views/CadreDashboard/VacanciesDashboard/__tests__/__snapshots__/vacanciesDashboard.spec.js.snap
  src/views/CadreDashboard/VacanciesDashboard/__tests__/vacanciesDashboard.spec.js
  src/views/CadreDashboard/VacanciesDashboard/vacancyDashboard.scss
Due: eslint 'src/**/*.{js,jsx}' -c .eslintrc.json --fix, prettier-stylelint --write 'src/**/*.{css,scss}', pretty-quick --staged, react-scripts test src/ -b --forceExit --coverage --watchAll=false

feat(vacancies): display vacancies for engineers dashboard
  src/components/EngineerBio/EngineerBio.scss
  src/components/EngineerBio/index.js
  src/components/EngineerDashboardCard/EngineerDashboardCard.jsx
  src/components/EngineerDashboardCard/EngineerDashboardCard.scss
  src/components/EngineerDashboardCard/__test__/EngineerDashboardCard.spec.jsx
  src/components/EngineerDashboardCard/__test__/__snapshots__/EngineerDashboardCard.spec.jsx.snap
  src/components/EngineerDashboardCard/index.js
  src/components/EngineerProjectSummaryCard/EngineerProjectSummaryCard.scss
  src/components/EngineerVacancies/EngineerVacancies.jsx
  src/components/EngineerVacancies/EngineerVacancies.scss
  src/components/EngineerVacancies/EngineerVacanciesContainer.jsx
  src/components/EngineerVacancies/EngineerVacancyCard.jsx
  src/components/EngineerVacancies/__test__/EngineerVacancies.spec.jsx
  src/components/EngineerVacancies/__test__/EngineerVacancyCard.spec.jsx
  src/components/EngineerVacancies/__test__/__snapshots__/EngineerVacancies.spec.jsx.snap
  src/components/EngineerVacancies/__test__/__snapshots__/EngineerVacancyCard.spec.jsx.snap
  src/components/EngineerVacancies/index.js
  src/components/VacanciesCard/VacanciesCard.jsx
  src/components/VacanciesCard/index.js
  src/components/WelcomeMessage/index.scss
  src/redux/actionCreators/getCadreVacanciesAction.js
  src/redux/constants/cadreVacanciesTypes.js
  src/redux/reducers/__tests__/cadreVacanciesReducer.spec.js
  src/redux/reducers/cadreVacanciesReducer.js
  src/redux/reducers/index.js
  src/redux/reducers/initialState.js
  src/routes/FellowRoutesHoc.js
  src/routes/__tests__/FellowRoutesHoc.spec.jsx
  src/routes/__tests__/__snapshots__/FellowRoutesHoc.spec.jsx.snap
  src/static/projectdown.svg
  src/views/CadreDashboard/CadreDashboardMain.jsx
  src/views/CadreDashboard/__tests__/__snapshots__/CadreDashboardMain.spec.jsx.snap
  src/views/CadreDashboard/index.scss
Due: eslint 'src/**/*.{js,jsx}' -c .eslintrc.json --fix, prettier-stylelint --write 'src/**/*.{css,scss}', pretty-quick --staged, react-scripts test src/ -b --forceExit --coverage --watchAll=false

TOWER-41-story(certifications): certifications dashboard
  src/assets/sass/utilities/_utilities.scss
  src/components/MapProjectRoleCard/MapProjectRoleCard.jsx
  src/components/MapProjectRoleCard/MapProjectRoleCard.scss
  src/components/MapProjectRoleCard/MapRoleCards.css
  src/components/MapProjectRoleCard/__test__/MapProjectRoleCard.spec.jsx
  src/components/MapProjectRoleCard/__test__/__snapshots__/MapProjectRoleCard.spec.jsx.snap
  src/components/RoleAndCertificationCard/Card.jsx
  src/components/RoleAndCertificationCard/Card.scss
  src/components/RoleAndCertificationCard/__tests__/RoleandCertCard.spec.jsx
  src/components/RoleAndCertificationCard/__tests__/__snapshots__/RoleandCertCard.spec.jsx.snap
  src/components/RoleAndCertificationCard/index.js
  src/components/RoleCard/__tests__/RoleCard.spec.jsx
  src/components/RoleCard/__tests__/__snapshots__/RoleCard.spec.jsx.snap
  src/redux/actionCreators/__tests__/cadreCertificationAction.spec.js
  src/redux/actionCreators/cadreCertificationAction.js
  src/redux/constants/cadreCertificationTypes.js
  src/redux/reducers/__tests__/cadreCertificationReducer.spec.js
  src/redux/reducers/cadreCertificationReducer.js
  src/redux/reducers/index.js
  src/redux/reducers/initialState.js
  src/views/CadreDashboard/CadreDashboard.jsx
  src/views/CadreDashboard/CertificatesDashboard/CadreViewCertificates/CadreViewCerts.jsx
  src/views/CadreDashboard/CertificatesDashboard/CadreViewCertificates/CadreViewCertsContainer.jsx
  src/views/CadreDashboard/CertificatesDashboard/CadreViewCertificates/__tests__/CadreViewCerts.spec.js
  src/views/CadreDashboard/CertificatesDashboard/CadreViewCertificates/__tests__/CadreViewCertsContainer.spec.js
  src/views/CadreDashboard/CertificatesDashboard/CadreViewCertificates/__tests__/__snapshots__/CadreViewCerts.spec.js.snap
  src/views/CadreDashboard/CertificatesDashboard/CadreViewCertificates/__tests__/__snapshots__/CadreViewCertsContainer.spec.js.snap
  src/views/CadreDashboard/CertificatesDashboard/CadreViewCertificates/index.js
  src/views/CadreDashboard/CertificatesDashboard/CertificateDashboard.jsx
  src/views/CadreDashboard/CertificatesDashboard/__tests__/CertificatesDashboard.spec.js
  src/views/CadreDashboard/CertificatesDashboard/index.js
  src/views/CadreDashboard/CertificationsDashboard/index.js
  src/views/CadreDashboard/RolesDashboard/CadreViewRoles/CadreViewRoles.jsx
  src/views/CadreDashboard/VacanciesDashboard/vacancyDashboard.scss
Due: eslint 'src/**/*.{js,jsx}' -c .eslintrc.json --fix, prettier-stylelint --write 'src/**/*.{css,scss}', pretty-quick --staged, react-scripts test src/ -b --forceExit --coverage --watchAll=false

Tower-84-bug(certification): fix dashboard message - Fix the dashboard to display a message when there are no roles or certifications
  src/components/MapProjectRoleCard/MapProjectRoleCard.jsx
  src/components/MapProjectRoleCard/MapProjectRoleCard.scss
  src/components/RoleAndCertificationCard/__tests__/RoleandCertCard.spec.jsx
  src/views/CadreDashboard/VacanciesDashboard/vacancyDashboard.scss
Due: eslint 'src/**/*.{js,jsx}' -c .eslintrc.json --fix, prettier-stylelint --write 'src/**/*.{css,scss}', pretty-quick --staged, react-scripts test src/ -b --forceExit --coverage --watchAll=false

TOWER-41-story(certifications): certifications dashboard
  src/components/RoleAndCertificationCard/Card.css
Due: prettier-stylelint --write 'src/**/*.{css,scss}', pretty-quick --staged, react-scripts test src/ -b --forceExit --coverage --watchAll=false

TOWER-40-story(edit-certification): Tdd Ops edit certification
  src/components/EditCertificationModal/EditCertifcationModal.jsx
  src/components/EditCertificationModal/EditCertificationModal.scss
  src/components/EditCertificationModal/EditCertificationModalContainer.js
  src/components/EditCertificationModal/EditInputs/EditInput.jsx
  src/components/EditCertificationModal/EditInputs/EditInput.scss
  src/components/EditCertificationModal/EditInputs/__tests__/EditInputs.spec.js
  src/components/EditCertificationModal/EditInputs/__tests__/__snapshots__/EditInputs.spec.js.snap
  src/components/EditCertificationModal/EditTextarea/EditTextarea.jsx
  src/components/EditCertificationModal/EditTextarea/EditTextarea.scss
  src/components/EditCertificationModal/EditTextarea/__tests__/EditTextarea.spec.jsx
  src/components/EditCertificationModal/EditTextarea/__tests__/__snapshots__/EditTextarea.spec.jsx.snap
  src/components/EditCertificationModal/__tests__/EditCertificationModal.spec.jsx
  src/components/EditCertificationModal/__tests__/EditCertificationModalContainer.spec.js
  src/components/EditCertificationModal/__tests__/__snapshots__/EditCertificationModal.spec.jsx.snap
  src/components/LargeModal/LargeModal.jsx
  src/components/LargeModal/LargeModal.scss
  src/components/LargeModal/__tests__/LargeModal.spec.jsx
  src/components/LargeModal/__tests__/__snapshots__/LargeModal.spec.jsx.snap
  src/components/RadioButton/RadioButton.jsx
  src/components/RadioButton/RadioButton.scss
  src/components/RadioButton/__tests__/RadioButton.spec.jsx
  src/components/RadioButton/__tests__/__snapshots__/RadioButton.spec.jsx.snap
  src/components/RoleAndCertificationCard/Card.jsx
  src/components/RoleAndCertificationCard/__tests__/RoleandCertCard.spec.jsx
  src/components/RoleAndCertificationCard/__tests__/__snapshots__/RoleandCertCard.spec.jsx.snap
  src/redux/actionCreators/__tests__/opsEditCertificationActions.spec.js
  src/redux/actionCreators/opsEditCertificationActions.js
  src/redux/constants/opsCertificationTypes.js
  src/redux/reducers/__tests__/opsEditCertificationReducer.spec.js
  src/redux/reducers/index.js
  src/redux/reducers/initialState.js
  src/redux/reducers/opsEditCertificationReducer.js
Due: eslint 'src/**/*.{js,jsx}' -c .eslintrc.json --fix, prettier-stylelint --write 'src/**/*.{css,scss}', pretty-quick --staged, react-scripts test src/ -b --forceExit --coverage --watchAll=false

TOWER-35-story(certification): add certification
  .jshintrc
  src/components/GenericModal/GenericModal.jsx
  src/components/MapProjectRoleCard/MapProjectRoleCard.jsx
  src/components/RoleAndCertificationCard/Card.jsx
  src/redux/actionCreators/__tests__/cadreAddCertificationAction.spec.js
  src/redux/actionCreators/cadreAddCertificationAction.js
  src/redux/constants/cadreAddCertificationTypes.js
  src/redux/reducers/__tests__/testCadreAddCertificationReducer.js
  src/redux/reducers/cadreAddCertificationReducer.js
  src/redux/reducers/index.js
  src/redux/reducers/initialState.js
  src/views/CadreDashboard/CertificatesDashboard/CadreAddCertification/AddCertificationModal/AddCertificationModal.jsx
  src/views/CadreDashboard/CertificatesDashboard/CadreAddCertification/AddCertificationModal/AddCertificationModal.scss
  src/views/CadreDashboard/CertificatesDashboard/CadreAddCertification/AddCertificationModal/CertificationsContainer.jsx
  src/views/CadreDashboard/CertificatesDashboard/CadreAddCertification/AddCertificationModal/index.js
  src/views/CadreDashboard/CertificatesDashboard/CadreAddCertification/__tests__/AddCertificationModal.spec.js
  src/views/CadreDashboard/CertificatesDashboard/CadreAddCertification/__tests__/__snapshots__/AddCertificationModal.spec.js.snap
  src/views/CadreDashboard/CertificatesDashboard/CadreViewCertificates/CadreViewCerts.jsx
  src/views/CadreDashboard/CertificatesDashboard/CadreViewCertificates/__tests__/__snapshots__/CadreViewCerts.spec.js.snap
  src/views/CadreDashboard/CertificatesDashboard/CertificateDashboard.jsx~e9951eb0... TOWER-41-story(certifications): certifications dashboard
Due: eslint 'src/**/*.{js,jsx}' -c .eslintrc.json --fix, prettier-stylelint --write 'src/**/*.{css,scss}', pretty-quick --staged, react-scripts test src/ -b --forceExit --coverage --watchAll=false

TOWER-39-story(certification): view certification - create view certification card - add redux
  src/redux/actionCreators/__tests__/getCertificationActions.spec.js
  src/redux/actionCreators/getCertificationActions.js
  src/redux/constants/certificationTypes.js
  src/redux/reducers/__tests__/getCertificationReducer.spec.js
  src/redux/reducers/getCertificationReducer.js
  src/redux/reducers/index.js
  src/redux/reducers/initialState.js
  src/views/CadreFellowDashboard/CadreFellowDashboard.jsx
  src/views/CadreFellowDashboard/CertificationPage/CertificationPage.jsx
  src/views/CadreFellowDashboard/CertificationPage/CertificationPage.scss
  src/views/CadreFellowDashboard/CertificationPage/CertificationPageContainer.jsx
  src/views/CadreFellowDashboard/CertificationPage/__tests__/CertificationPage.spec.jsx
  src/views/CadreFellowDashboard/CertificationPage/__tests__/CertificationPageContainer.spec.jsx
  src/views/CadreFellowDashboard/CertificationPage/__tests__/__snapshots__/CertificationPage.spec.jsx.snap
  src/views/CadreFellowDashboard/CertificationPage/index.js
Due: eslint 'src/**/*.{js,jsx}' -c .eslintrc.json --fix, prettier-stylelint --write 'src/**/*.{css,scss}', pretty-quick --staged, react-scripts test src/ -b --forceExit --coverage --watchAll=false

TOWER-83-bug(search): fix pagination and search
  src/components/Pagination/Pagination.jsx
  src/components/Pagination/__tests__/__snapshots__/Pagination.spec.jsx.snap
  src/components/Reports/ReportSummary.jsx
  src/components/Reports/Table.jsx
  src/components/Reports/__tests__/__snapshots__/Table.spec.jsx.snap
  src/components/Reports/reports.scss
  src/redux/actionCreators/__tests__/engineersReportActions.spec.js
  src/redux/actionCreators/__tests__/getRoleSkillsAction.spec.js
  src/redux/actionCreators/__tests__/paginate.spec.js
  src/redux/actionCreators/engineersReportActions.js
  src/redux/actionCreators/paginate.js
  src/redux/constants/paginateTypes.js
  src/redux/reducers/__tests__/engineersReportReducer.spec.js
  src/redux/reducers/engineersReportReducer.js
  src/redux/reducers/initialState.js
  src/views/CadreDashboard/CertificatesDashboard/CadreAddCertification/AddCertificationModal/AddCertificationModal.scss
  src/views/CadreDashboard/ReportsDashboard/ReportsDashboard.jsx
  src/views/CadreDashboard/ReportsDashboard/ReportsDashboardContainer.js
  src/views/CadreDashboard/ReportsDashboard/__tests__/ReportsDashboard.spec.js
  src/views/CadreDashboard/ReportsDashboard/__tests__/__snapshots__/ReportsDashboard.spec.js.snap
  src/views/CadreDashboard/VacanciesDashboard/vacancyDashboard.scss
Due: eslint 'src/**/*.{js,jsx}' -c .eslintrc.json --fix, prettier-stylelint --write 'src/**/*.{css,scss}', pretty-quick --staged, react-scripts test src/ -b --forceExit --coverage --watchAll=false

TOWER-85-bug(certifications): fix view certifications on staging
  src/views/CadreDashboard/CertificatesDashboard/CadreViewCertificates/CadreViewCerts.jsx
Due: eslint 'src/**/*.{js,jsx}' -c .eslintrc.json --fix, pretty-quick --staged, react-scripts test src/ -b --forceExit --coverage --watchAll=false

TOWER-88(bug): Fix role card dropdown [Finishes TOWER-88]
  src/components/RoleAndCertificationCard/Card.jsx
Due: eslint 'src/**/*.{js,jsx}' -c .eslintrc.json --fix, pretty-quick --staged, react-scripts test src/ -b --forceExit --coverage --watchAll=false

TOWER-15-story(TDD Ops): delete role
  src/assets/sass/abstract/_variables.scss
  src/assets/sass/utilities/_utilities.scss
  src/components/DeleteRoleModal/DeleteRoleModal.jsx
  src/components/DeleteRoleModal/DeleteRoleModal.scss
  src/components/DeleteRoleModal/DeleteRoleModalContainer.js
  src/components/DeleteRoleModal/__tests__/DeleteRoleModal.spec.jsx
  src/components/DeleteRoleModal/__tests__/DeleteRoleModalContainer.spec.js
  src/components/DeleteRoleModal/__tests__/__snapshots__/DeleteRoleModal.spec.jsx.snap
  src/components/DeleteRoleModal/index.js
  src/components/MapProjectRoleCard/MapProjectRoleCard.jsx
  src/components/RoleAndCertificationCard/Card.jsx
  src/redux/actionCreators/__tests__/cadreProjectRoleActions.spec.js
  src/redux/actionCreators/cadreProjectRoleActions.js
  src/redux/constants/cadreProjectRolesTypes.js
  src/redux/reducers/__tests__/cadreProjectRoleReducer.spec.js
  src/redux/reducers/cadreProjectRoleReducer.js
  src/redux/reducers/index.js
  src/static/MarkDanger.svg
  src/views/CadreDashboard/RolesDashboard/CadreViewRoles/CadreViewRoles.jsx
  src/views/CadreDashboard/RolesDashboard/CadreViewRoles/CadreViewRolesContainer.js
  src/views/CadreDashboard/RolesDashboard/CadreViewRoles/__tests__/__snapshots__/CadreViewRoles.spec.js.snap
  src/views/CadreDashboard/RolesDashboard/CadreViewRoles/__tests__/__snapshots__/CadreViewRolesContainer.spec.js.snap
Due: eslint 'src/**/*.{js,jsx}' -c .eslintrc.json --fix, prettier-stylelint --write 'src/**/*.{css,scss}', pretty-quick --staged, react-scripts test src/ -b --forceExit --coverage --watchAll=false

TOWER-76-task(pr-template): update pr template to JIRA conventions
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

TOWER-122-bug(pagination): fix pagination design
  src/components/Pagination/Pagination.jsx
  src/components/Pagination/Pagination.scss
  src/components/Pagination/__tests__/__snapshots__/Pagination.spec.jsx.snap
  src/views/DashboardPage/index.scss
Due: eslint 'src/**/*.{js,jsx}' -c .eslintrc.json --fix, prettier-stylelint --write 'src/**/*.{css,scss}', pretty-quick --staged, react-scripts test src/ -b --forceExit --coverage --watchAll=false

TOWER-99-bug(cadre-cards): fix card issues
  src/__mocks__/projectVacancy.js
  src/assets/sass/abstract/_variables.scss
  src/assets/sass/utilities/_utilities.scss
  src/components/DeleteRoleModal/DeleteRoleModal.scss
  src/components/FellowRolesCard/FellowRolesCard.jsx
  src/components/FilterDropdown/index.js
  src/components/Header/ProfileSection.jsx
  src/components/MapProjectRoleCard/MapProjectRoleCard.jsx
  src/components/RoleAndCertificationCard/Card.css
  src/components/RoleAndCertificationCard/Card.jsx
  src/components/RoleAndCertificationCard/Card.scss
  src/components/RoleAndCertificationCard/__tests__/RoleandCertCard.spec.jsx
  src/components/RoleAndCertificationCard/__tests__/__snapshots__/RoleandCertCard.spec.jsx.snap
  src/redux/actionCreators/__tests__/projects/deleteProjectVacanciesAction.spec.js
  src/redux/actionCreators/projectVacancyActions.js
  src/redux/reducers/__tests__/getAllVacanciesReducer.spec.js
  src/redux/reducers/getAllVacanciesReducer.js
  src/utils/__tests__/index.spec.js
  src/utils/index.js
  src/views/CadreDashboard/VacanciesDashboard/ViewVacancies/__tests__/__snapshots__/ViewVacancies.spec.js.snap
  src/views/CadreDashboard/VacanciesDashboard/__tests__/__snapshots__/vacanciesDashboard.spec.js.snap
Due: eslint 'src/**/*.{js,jsx}' -c .eslintrc.json --fix, prettier-stylelint --write 'src/**/*.{css,scss}', pretty-quick --staged, react-scripts test src/ -b --forceExit --coverage --watchAll=false

bug-TOWER-77(account_activation): fix error on account activation
  src/redux/reducers/__tests__/cadreEngineersReducer.spec.js
Due: eslint 'src/**/*.{js,jsx}' -c .eslintrc.json --fix, pretty-quick --staged, react-scripts test src/ -b --forceExit --coverage --watchAll=false

Tower-90-bug(certification) Fix exclusive certificate toggle - fix certification toogle for exclusive certifications
  src/components/EditCertificationModal/EditCertifcationModal.jsx
  src/components/EditCertificationModal/__tests__/__snapshots__/EditCertificationModal.spec.jsx.snap
  src/components/RadioButton/RadioButton.jsx
  src/components/RadioButton/RadioButton.scss
  src/components/RadioButton/__tests__/__snapshots__/RadioButton.spec.jsx.snap
  src/views/CadreDashboard/CertificatesDashboard/CadreAddCertification/__tests__/__snapshots__/AddCertificationModal.spec.js.snap
Due: eslint 'src/**/*.{js,jsx}' -c .eslintrc.json --fix, prettier-stylelint --write 'src/**/*.{css,scss}', pretty-quick --staged, react-scripts test src/ -b --forceExit --coverage --watchAll=false

TOWER-68(Engineer): search vacancies
  src/assets/sass/abstract/_variables.scss
  src/assets/sass/utilities/_utilities.scss
  src/components/DeleteRoleModal/DeleteRoleModal.scss
  src/components/EngineerDashboardCard/EngineerDashboardCard.jsx
  src/components/EngineerDashboardCard/EngineerDashboardCard.scss
  src/components/EngineerDashboardCard/__test__/__snapshots__/EngineerDashboardCard.spec.jsx.snap
  src/components/EngineerVacancies/EngineerVacancies.jsx
  src/components/EngineerVacancies/EngineerVacancies.scss
  src/components/EngineerVacancies/EngineerVacanciesContainer.jsx
  src/components/EngineerVacancies/EngineerVacancyCard.jsx
  src/components/EngineerVacancies/__test__/EngineerVacancies.spec.jsx
  src/components/EngineerVacancies/__test__/__snapshots__/EngineerVacancies.spec.jsx.snap
  src/components/EngineerVacancies/__test__/__snapshots__/EngineerVacancyCard.spec.jsx.snap
  src/views/CadreDashboard/CadreDashboardMain.jsx
  src/views/CadreDashboard/__tests__/CadreDashboardMain.spec.jsx
  src/views/CadreDashboard/__tests__/__snapshots__/CadreDashboardMain.spec.jsx.snap
  src/views/CadreFellowDashboard/__tests__/CadreFellowDashboard.spec.jsx
Due: eslint 'src/**/*.{js,jsx}' -c .eslintrc.json --fix, prettier-stylelint --write 'src/**/*.{css,scss}', pretty-quick --staged, react-scripts test src/ -b --forceExit --coverage --watchAll=false

TOWER-102-bug(vacancies): fix styling on vacancies submenu
  src/components/Pagination/Pagination.jsx
  src/components/Pagination/PaginationWrapper.jsx
  src/components/TDDOpsVacancyCard/TDDOPsVacancyCard.js
  src/components/TDDOpsVacancyCard/TDDOPsVacancyCard.scss
  src/components/TDDOpsVacancyCard/__test__/__snapshots__/TDDOPsVacancyCard.spec.js.snap
  src/views/CadreDashboard/VacanciesDashboard/VacanciesDashboard.jsx
  src/views/CadreDashboard/VacanciesDashboard/ViewVacancies/ViewVacancies.js
  src/views/CadreDashboard/VacanciesDashboard/ViewVacancies/ViewVacancies.scss
  src/views/CadreDashboard/VacanciesDashboard/ViewVacancies/__tests__/ViewVacancies.spec.js
  src/views/CadreDashboard/VacanciesDashboard/ViewVacancies/__tests__/__snapshots__/ViewVacancies.spec.js.snap
  src/views/CadreDashboard/VacanciesDashboard/__tests__/__snapshots__/vacanciesDashboard.spec.js.snap
  src/views/CadreDashboard/VacanciesDashboard/vacancyDashboard.scss
Due: eslint 'src/**/*.{js,jsx}' -c .eslintrc.json --fix, prettier-stylelint --write 'src/**/*.{css,scss}', pretty-quick --staged, react-scripts test src/ -b --forceExit --coverage --watchAll=false

TOWER-54-bug-(project roles): horizontal scroll project roles
  src/assets/sass/abstract/_variables.scss
  src/assets/sass/utilities/_utilities.scss
  src/components/Carousel/NavArrow.jsx
  src/components/DeleteRoleModal/DeleteRoleModal.scss
  src/components/Filters/__tests__/__snapshots__/Filters.spec.jsx.snap
  src/components/MapFeedbackFilterCard/__snapshots__/MapFeedbackFilterCard.spec.js.snap
  src/components/MapFellowsFilterCard/__tests__/__snapshots__/MapFellowsFilterCard.spec.js.snap
  src/components/MapLfTtlSummaryCard/__tests__/__snapshots__/MapLfTtlSummaryCard.spec.js.snap
  src/components/Reports/ReportSummary.jsx
  src/components/Reports/reports.scss
  src/utils/__tests__/index.spec.js
  src/utils/index.js
Due: eslint 'src/**/*.{js,jsx}' -c .eslintrc.json --fix, prettier-stylelint --write 'src/**/*.{css,scss}', pretty-quick --staged, react-scripts test src/ -b --forceExit --coverage --watchAll=false

Tower-97-bug(Icons)Fix submenu icons
  src/components/CadreSubmenu/cadreUtils.js
  src/static/grph.svg
  src/static/newroles.svg
  src/static/newroles1.svg
  src/static/projectsActive.svg
  src/static/projectsActive1.svg
  src/static/report.svg
  src/static/vacancies.svg
  src/static/vacancies1.svg
  src/static/vacanciesActive.svg
Due: eslint 'src/**/*.{js,jsx}' -c .eslintrc.json --fix, pretty-quick --staged, react-scripts test src/ -b --forceExit --coverage --watchAll=false

TOWER-124-story(vacancies): tdd ops manager can search vacancies
  src/components/Buttons/Button.scss
  src/components/Pagination/Pagination.jsx
  src/components/Pagination/Pagination.scss
  src/components/Pagination/__tests__/__snapshots__/Pagination.spec.jsx.snap
  src/views/CadreDashboard/CadreDashboard.scss
  src/views/CadreDashboard/ReportsDashboard/ReportsDashboard.jsx
  src/views/CadreDashboard/ReportsDashboard/__tests__/__snapshots__/ReportsDashboard.spec.js.snap
  src/views/CadreDashboard/VacanciesDashboard/VacanciesDashboard.jsx
  src/views/CadreDashboard/VacanciesDashboard/ViewVacancies/ViewVacancies.js
  src/views/CadreDashboard/VacanciesDashboard/ViewVacancies/ViewVacancies.scss
  src/views/CadreDashboard/VacanciesDashboard/ViewVacancies/__tests__/ViewVacancies.spec.js
  src/views/CadreDashboard/VacanciesDashboard/ViewVacancies/__tests__/__snapshots__/ViewVacancies.spec.js.snap
  src/views/CadreDashboard/VacanciesDashboard/__tests__/__snapshots__/vacanciesDashboard.spec.js.snap
  src/views/CadreDashboard/VacanciesDashboard/vacancyDashboard.scss
Due: eslint 'src/**/*.{js,jsx}' -c .eslintrc.json --fix, prettier-stylelint --write 'src/**/*.{css,scss}', pretty-quick --staged, react-scripts test src/ -b --forceExit --coverage --watchAll=false

TOWER-71-story(frontend): view role details
  src/components/EngineerVacancies/EngineerVacancies.jsx
  src/components/EngineerVacancies/EngineerVacancyCard.jsx
  src/components/EngineerVacancies/__test__/EngineerVacancyCard.spec.jsx
  src/components/EngineerVacancies/__test__/__snapshots__/EngineerVacancies.spec.jsx.snap
  src/components/EngineerVacancies/__test__/__snapshots__/EngineerVacancyCard.spec.jsx.snap
  src/components/RoleDetailsLeft/RoleDetailsLeft.jsx
  src/components/RoleDetailsLeft/__test__/RoleDetailsLeft.spec.js
  src/components/RoleDetailsLeft/__test__/__snapshots__/RoleDetailsLeft.spec.js.snap
  src/components/RoleDetailsLeft/index.js
  src/components/RoleDetailsRight/RoleDetailsRight.jsx
  src/components/RoleDetailsRight/__test__/RoleDetailsRight.spec.js
  src/components/RoleDetailsRight/__test__/__snapshots__/RoleDetailsRight.spec.js.snap
  src/components/RoleDetailsRight/index.js
  src/views/CadreDashboard/__tests__/CadreDashboardMain.spec.jsx
  src/views/CadreFellowDashboard/CadreFellowDashboard.jsx
  src/views/CadreFellowDashboard/ProjectRoleDetails/ProjectRoleDetails.jsx
  src/views/CadreFellowDashboard/ProjectRoleDetails/ProjectRoleDetails.scss
  src/views/CadreFellowDashboard/ProjectRoleDetails/ProjectRoleDetailsContainer.js
  src/views/CadreFellowDashboard/ProjectRoleDetails/__test__/ProjectRoleDetails.spec.js
  src/views/CadreFellowDashboard/ProjectRoleDetails/__test__/__snapshots__/ProjectRoleDetails.spec.js.snap
  src/views/CadreFellowDashboard/ProjectRoleDetails/index.js
Due: eslint 'src/**/*.{js,jsx}' -c .eslintrc.json --fix, prettier-stylelint --write 'src/**/*.{css,scss}', pretty-quick --staged, react-scripts test src/ -b --forceExit --coverage --watchAll=false

TOWER-134-bug(cadre-dashboard): fix styling on cadre engineer dashboard
  src/components/EngineerBio/EngineerBio.scss
  src/components/EngineerBio/index.js
  src/components/EngineerDashboardCard/EngineerDashboardCard.jsx
  src/components/EngineerDashboardCard/EngineerDashboardCard.scss
  src/components/EngineerDashboardCard/__test__/__snapshots__/EngineerDashboardCard.spec.jsx.snap
  src/components/EngineerProjectSummaryCard/EngineerProjectSummaryCard.scss
  src/components/EngineerVacancies/EngineerVacancies.scss
  src/components/WelcomeMessage/index.scss
  src/views/CadreDashboard/index.scss
Due: eslint 'src/**/*.{js,jsx}' -c .eslintrc.json --fix, prettier-stylelint --write 'src/**/*.{css,scss}', pretty-quick --staged, react-scripts test src/ -b --forceExit --coverage --watchAll=false

Tower-96-bug(certification): sort vacancies card - Sort certifications, vacancies and roles in alphabetical order
  src/components/MapProjectRoleCard/MapProjectRoleCard.jsx
  src/redux/reducers/__tests__/getAllVacanciesReducer.spec.js
  src/redux/reducers/initialState.js
  src/utils/__tests__/sortArray.spec.js
  src/utils/sortArray.js
  src/views/CadreDashboard/VacanciesDashboard/VacanciesDashboard.jsx
  src/views/CadreDashboard/VacanciesDashboard/__tests__/__snapshots__/VacanciesDashboardContainer.spec.jsx.snap
  src/views/CadreDashboard/VacanciesDashboard/__tests__/__snapshots__/vacanciesDashboard.spec.js.snap
Due: eslint 'src/**/*.{js,jsx}' -c .eslintrc.json --fix, pretty-quick --staged, react-scripts test src/ -b --forceExit --coverage --watchAll=false

delete certification add reducers and actions for delete certification add test cases for delete certification
  src/components/Buttons/Button.scss
  src/components/EngineerProjectSummaryCard/EngineerProjectSummaryCard.scss
  src/components/MapProjectRoleCard/MapProjectRoleCard.jsx
  src/components/Pagination/Pagination.scss
  src/components/RoleAndCertificationCard/Card.jsx
  src/components/RoleAndCertificationCard/__tests__/RoleandCertCard.spec.jsx
  src/components/RoleAndCertificationCard/__tests__/__snapshots__/RoleandCertCard.spec.jsx.snap
  src/redux/actionCreators/__tests__/cadreCertificationAction.spec.js
  src/redux/actionCreators/cadreCertificationAction.js
  src/redux/constants/cadreCertificationTypes.js
  src/redux/reducers/__tests__/cadreCertificationReducer.spec.js
  src/redux/reducers/__tests__/deleteCertificationReducer.spec.js
  src/redux/reducers/cadreCertificationReducer.js
  src/redux/reducers/deleteCertificationReducer.js
  src/redux/reducers/index.js
  src/redux/reducers/initialState.js
  src/redux/reducers/setCertificationOnFocusReducer.js
  src/views/CadreDashboard/CertificatesDashboard/CadreDeleteCertification/DeleteCertificationModal.jsx
  src/views/CadreDashboard/CertificatesDashboard/CadreDeleteCertification/DeleteCertificationModalContainer.jsx
  src/views/CadreDashboard/CertificatesDashboard/CadreDeleteCertification/__tests__/DeleteCertificationModal.spec.js
  src/views/CadreDashboard/CertificatesDashboard/CadreDeleteCertification/__tests__/DeleteCertificationModalContainer.spec.jsx
  src/views/CadreDashboard/CertificatesDashboard/CadreDeleteCertification/__tests__/__snapshots__/DeleteCertificationModal.spec.js.snap
  src/views/CadreDashboard/CertificatesDashboard/CadreDeleteCertification/__tests__/__snapshots__/DeleteCertificationModalContainer.spec.jsx.snap
  src/views/CadreDashboard/CertificatesDashboard/CadreDeleteCertification/deleteCertificationModal.scss
  src/views/CadreDashboard/CertificatesDashboard/CadreDeleteCertification/index.js
  src/views/CadreDashboard/CertificatesDashboard/CadreViewCertificates/CadreViewCerts.jsx
  src/views/CadreDashboard/CertificatesDashboard/CadreViewCertificates/CadreViewCertsContainer.jsx
  src/views/CadreDashboard/CertificatesDashboard/CadreViewCertificates/__tests__/__snapshots__/CadreViewCerts.spec.js.snap
Due: eslint 'src/**/*.{js,jsx}' -c .eslintrc.json --fix, prettier-stylelint --write 'src/**/*.{css,scss}', pretty-quick --staged, react-scripts test src/ -b --forceExit --coverage --watchAll=false

TOWER-135-BUG(roles): Fix fetch active engineers response [Fixes TOWER-135]
  src/redux/actionCreators/fellowActiveRoleActions.js
Due: eslint 'src/**/*.{js,jsx}' -c .eslintrc.json --fix, pretty-quick --staged, react-scripts test src/ -b --forceExit --coverage --watchAll=false

TOWER-94-bug(certifications): fix styling on certifications card - improve the styling on the certifications card - update tests fir certification card
  src/components/RoleAndCertificationCard/Card.jsx
  src/components/RoleAndCertificationCard/Card.scss
  src/components/RoleAndCertificationCard/__tests__/__snapshots__/RoleandCertCard.spec.jsx.snap
Due: eslint 'src/**/*.{js,jsx}' -c .eslintrc.json --fix, prettier-stylelint --write 'src/**/*.{css,scss}', pretty-quick --staged, react-scripts test src/ -b --forceExit --coverage --watchAll=false

Tower-136-bug(role): fix close button - Fix the alignment of the delete and logout modal close buttons
  src/components/DeleteRoleModal/DeleteRoleModal.jsx
  src/components/DeleteRoleModal/DeleteRoleModal.scss
  src/components/DeleteRoleModal/__tests__/__snapshots__/DeleteRoleModal.spec.jsx.snap
  src/components/LogOutModal/LogOutModal.jsx
  src/components/PIPDeactivationModal/PIPDeactivationModal.scss
Due: eslint 'src/**/*.{js,jsx}' -c .eslintrc.json --fix, prettier-stylelint --write 'src/**/*.{css,scss}', pretty-quick --staged, react-scripts test src/ -b --forceExit --coverage --watchAll=false

TOWER-123-chore(refactoring): make some components re-usable for this task
  src/components/CadreDeletionModal/DeletionModal.jsx
  src/components/CadreDeletionModal/DeletionModal.scss
  src/components/CadreDeletionModal/__tests__/DeletionModal.spec.js
  src/components/CadreDeletionModal/__tests__/__snapshots__/DeletionModal.spec.js.snap
  src/components/CadreDeletionModal/index.js
  src/components/DeleteRoleModal/DeleteRoleModal.jsx
  src/components/MapProjectCards/MapProjectCards.jsx
  src/components/MapProjectCards/__test__/MapProjectCards.spec.jsx
  src/components/MapProjectCards/__test__/__snapshots__/MapProjectCards.spec.jsx.snap
  src/components/ProjectCard/ProjectCard.jsx
  src/components/ProjectCard/ProjectCard.scss
  src/components/ProjectCard/__tests__/ProjectCard.spec.jsx
  src/components/ProjectCard/__tests__/__snapshots__/ProjectCard.spec.jsx.snap
  src/redux/actionCreators/projectsActions.js
  src/redux/constants/projectsTypes.js
  src/redux/reducers/index.js
  src/redux/reducers/viewAllProjectsReducer.js
  src/views/CadreDashboard/ProjectsDashboard/DeleteProject/DeleteProjectContainer.js
  src/views/CadreDashboard/ProjectsDashboard/DeleteProjectModal/DeleteProjectModal.jsx
  src/views/CadreDashboard/ProjectsDashboard/DeleteProjectModal/DeleteProjectModalContainer.js
  src/views/CadreDashboard/ProjectsDashboard/DeleteProjectModal/__tests__/DeleteProjectModal.spec.jsx
  src/views/CadreDashboard/ProjectsDashboard/DeleteProjectModal/__tests__/DeleteProjectModalContainer.spec.js
  src/views/CadreDashboard/ProjectsDashboard/DeleteProjectModal/__tests__/__snapshots__/DeleteProjectModal.spec.jsx.snap
  src/views/CadreDashboard/ProjectsDashboard/DeleteProjectModal/index.js
  src/views/CadreDashboard/ProjectsDashboard/ViewProjects/ViewProjects.jsx
  src/views/CadreDashboard/ProjectsDashboard/ViewProjects/ViewProjectsContainer.jsx
  src/views/CadreDashboard/ProjectsDashboard/ViewProjects/__tests__/ViewProjects.spec.jsx
  src/views/CadreDashboard/ProjectsDashboard/ViewProjects/__tests__/__snapshots__/ViewProjects.spec.jsx.snap
  src/views/CadreDashboard/RolesDashboard/CadreViewRoles/CadreViewRoles.jsx
  src/views/CadreDashboard/RolesDashboard/DeleteRoleModal/DeleteRoleModal.jsx
  src/views/CadreDashboard/RolesDashboard/DeleteRoleModal/DeleteRoleModalContainer.js
  src/views/CadreDashboard/RolesDashboard/DeleteRoleModal/__tests__/DeleteRoleModal.spec.jsx
  src/views/CadreDashboard/RolesDashboard/DeleteRoleModal/__tests__/DeleteRoleModalContainer.spec.js
  src/views/CadreDashboard/RolesDashboard/DeleteRoleModal/__tests__/__snapshots__/DeleteRoleModal.spec.jsx.snap
  src/views/CadreDashboard/RolesDashboard/DeleteRoleModal/index.js
Due: eslint 'src/**/*.{js,jsx}' -c .eslintrc.json --fix, prettier-stylelint --write 'src/**/*.{css,scss}', pretty-quick --staged, react-scripts test src/ -b --forceExit --coverage --watchAll=false

TOWER-140(search vacancies): fix ops vacancy search
  src/views/CadreDashboard/VacanciesDashboard/ViewVacancies/ViewVacancies.js
Due: eslint 'src/**/*.{js,jsx}' -c .eslintrc.json --fix, pretty-quick --staged, react-scripts test src/ -b --forceExit --coverage --watchAll=false

TOWER-36-story(frontend):create certification vacancy: - add the redux functionality - add tests - add functionality - fix conflicts - resolve feedback - add rerouting after adding vacancy
  README.md
  src/components/FeedbackDuration/FeedbackDuration.jsx
  src/components/FeedbackDuration/FeedbackDuration.scss
  src/components/FeedbackDuration/__tests__/FeedbackDuration.spec.js
  src/components/FeedbackDuration/__tests__/__snapshots__/FeedbackDuration.spec.js.snap
  src/components/FormInputs/dropdownInput.jsx
  src/redux/actionCreators/__tests__/certification/createCertificationVacanciesAction.spec.js
  src/redux/actionCreators/certificationVacancyAction.js
  src/redux/constants/certificationVacanciesTypes.js
  src/redux/reducers/__tests__/createCertificationVacanciesReducer.spec.js
  src/redux/reducers/createCertificationVacanciesReducer.js
  src/redux/reducers/index.js
  src/redux/reducers/initialState.js
  src/utils/__tests__/formatDate.spec.js
  src/utils/formatDate.js
  src/views/CadreDashboard/VacanciesDashboard/AddVacanciesModal/AddVacanciesModal.jsx
  src/views/CadreDashboard/VacanciesDashboard/AddVacanciesModal/AddVacanciesModalContainer.js
  src/views/CadreDashboard/VacanciesDashboard/AddVacanciesModal/__tests__/AddVacancyModal.spec.js
  src/views/CadreDashboard/VacanciesDashboard/AddVacanciesModal/__tests__/__snapshots__/AddVacancyModal.spec.js.snap
  src/views/CadreDashboard/VacanciesDashboard/AddVacanciesModal/addVacancyModal.scss
  src/views/CadreDashboard/VacanciesDashboard/VacanciesDashboard.jsx
  src/views/FeedbackDashboard/__tests__/__snapshots__/FeedbackDashboard.spec.jsx.snap
Due: eslint 'src/**/*.{js,jsx}' -c .eslintrc.json --fix, prettier-stylelint --write 'src/**/*.{css,scss}', pretty-quick --staged, react-scripts test src/ -b --forceExit --coverage --watchAll=false

TOWER-139-bug-(reducers): refactor reducers
  src/redux/actionCreators/projectVacancyActions.js
  src/redux/reducers/createProjectVacanciesReducer.js
  src/views/CadreDashboard/VacanciesDashboard/AddVacanciesModal/AddVacanciesModal.jsx
  src/views/CadreDashboard/VacanciesDashboard/DeleteVacanciesModal/DeleteVacanciesModal.jsx
  src/views/CadreDashboard/VacanciesDashboard/DeleteVacanciesModal/__tests__/DeleteVacanciesModal.spec.js
  src/views/CadreDashboard/VacanciesDashboard/VacanciesDashboard.jsx
Due: eslint 'src/**/*.{js,jsx}' -c .eslintrc.json --fix, pretty-quick --staged, react-scripts test src/ -b --forceExit --coverage --watchAll=false

story-tower-34(certification): tdd ops can view certification applicants
  src/components/FellowRolesCard/FellowRolesCard.jsx
  src/components/GenericModal/GenericModal.jsx
  src/components/LargeModal/LargeModal.jsx
  src/components/MapProjectRoleCard/MapProjectRoleCard.jsx
  src/components/RoleAndCertificationCard/Card.jsx
  src/components/RoleAndCertificationCard/__tests__/RoleandCertCard.spec.jsx
  src/components/RoleAndCertificationCard/__tests__/__snapshots__/RoleandCertCard.spec.jsx.snap
  src/redux/actionCreators/cadreCertificationAction.js
  src/redux/constants/cadreCertificationTypes.js
  src/redux/reducers/__tests__/cadreCertificationReducer.spec.js
  src/redux/reducers/cadreCertificationReducer.js
  src/redux/reducers/index.js
  src/redux/reducers/initialState.js
  src/views/CadreDashboard/CertificatesDashboard/CadreAddCertification/__tests__/__snapshots__/AddCertificationModal.spec.js.snap
  src/views/CadreDashboard/CertificatesDashboard/CadreDeleteCertification/__tests__/__snapshots__/DeleteCertificationModal.spec.js.snap
  src/views/CadreDashboard/CertificatesDashboard/ViewCertificationApplicants/ViewCertificationApplicantsModal.jsx
  src/views/CadreDashboard/CertificatesDashboard/ViewCertificationApplicants/ViewCertificationApplicantsModalContainer.js
  src/views/CadreDashboard/CertificatesDashboard/ViewCertificationApplicants/__tests__/ViewCertificationApplicantsModal.spec.js
  src/views/CadreDashboard/CertificatesDashboard/ViewCertificationApplicants/__tests__/ViewCertificationApplicantsModalContainer.spec.js
  src/views/CadreDashboard/CertificatesDashboard/ViewCertificationApplicants/__tests__/__snapshots__/ViewCertificationApplicantsModal.spec.js.snap
  src/views/CadreDashboard/CertificatesDashboard/ViewCertificationApplicants/__tests__/__snapshots__/ViewCertificationApplicantsModalContainer.spec.js.snap
  src/views/CadreDashboard/CertificatesDashboard/ViewCertificationApplicants/index.js
  src/views/CadreDashboard/ProjectsDashboard/AddManagerModal/__tests__/__snapshots__/AddManagerModal.spec.js.snap
  src/views/CadreDashboard/ProjectsDashboard/AddRoleModal/AddRoleModal.jsx
  src/views/CadreDashboard/ProjectsDashboard/AddRoleModal/AddRoleModal.scss
  src/views/CadreDashboard/ProjectsDashboard/AddRoleModal/__tests__/__snapshots__/AddRoleModal.spec.js.snap
  src/views/CadreDashboard/ProjectsDashboard/AddTechnologyModal/__tests__/__snapshots__/AddTechnologyModal.spec.js.snap
  src/views/CadreDashboard/VacanciesDashboard/AddVacanciesModal/__tests__/__snapshots__/AddVacancyModal.spec.js.snap
  src/views/CadreDashboard/VacanciesDashboard/DeleteVacanciesModal/__tests__/__snapshots__/DeleteVacanciesModal.spec.js.snap
Due: eslint 'src/**/*.{js,jsx}' -c .eslintrc.json --fix, prettier-stylelint --write 'src/**/*.{css,scss}', pretty-quick --staged, react-scripts test src/ -b --forceExit --coverage --watchAll=false

Path conditions:
  eslint 'src/**/*.{js,jsx}' -c .eslintrc.json --fix: any of: src/**/*.{js,jsx,ts,tsx,json,md}
  prettier-stylelint --write 'src/**/*.{css,scss}': any of: src/**/*.{css,scss}
  pretty-quick --staged: any of: src/**/*.{js,jsx,ts,tsx,json,css,scss,md}
  react-scripts test src/ -b --forceExit --coverage --watchAll=false: any of: src/**/*.{js,jsx,ts,tsx,json,css,scss,md}
