Repository avpaul/watchtower: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint 'src/**/*.{js,jsx}' -c .eslintrc.json --fix, prettier-stylelint --write 'src/**/*.{css,scss}', pretty-quick --staged, react-scripts test src/ -b --forceExit --coverage --watchAll=false

.lintstagedrc:

{
      "src/**/*.{js,jsx,ts,tsx,json,md}": [
        "eslint 'src/**/*.{js,jsx}' -c .eslintrc.json --fix"
      ],
      "src/**/*.{css,scss}": [
        "prettier-stylelint --write 'src/**/*.{css,scss}' "
      ],
      "src/**/*.{js,jsx,ts,tsx,json,css,scss,md}": [
        "pretty-quick --staged",
        "react-scripts test src/ -b --forceExit --coverage --watchAll=false",
        "git add"
      ]
  }

story(analytics): implement data analytics with Amplitude
  jenkins/Jenkinsfile
Due: none

fix(authorization): fixes authorization issue
  src/routes/DashboardRoutes.jsx
  src/utils/index.js
Due: eslint 'src/**/*.{js,jsx}' -c .eslintrc.json --fix, pretty-quick --staged, react-scripts test src/ -b --forceExit --coverage --watchAll=false

story(Tower-212):Add a scroll to engineer's profile
  src/components/EngineerBio/EngineerBio.scss
Due: prettier-stylelint --write 'src/**/*.{css,scss}', pretty-quick --staged, react-scripts test src/ -b --forceExit --coverage --watchAll=false

bug(Fixed-left-card): Fix manager card in applications page
  src/components/CertificationDetailsLeft/CertificationDetailsLeft.jsx
  src/components/CertificationDetailsLeft/__test__/__snapshots__/CertificationDetailsLeft.spec.jsx.snap
  src/components/CertificationDetailsRight/CertificationDetailsRight.jsx
  src/components/CertificationDetailsRight/__test__/__snapshots__/CertificationDetailsRight.spec.js.snap
  src/components/Header/FellowHeader.js
  src/components/Header/Header.jsx
  src/components/LogOutModal/LogOutModal.jsx
  src/components/LogOutModal/LogOutModal.scss
  src/components/RoleDetailsLeft/RoleDetailsLeft.jsx
  src/components/RoleDetailsLeft/__test__/__snapshots__/RoleDetailsLeft.spec.js.snap
  src/components/RoleDetailsRight/RoleDetailsRight.jsx
  src/components/RoleDetailsRight/__test__/RoleDetailsRight.spec.js
  src/components/RoleDetailsRight/__test__/__snapshots__/RoleDetailsRight.spec.js.snap
  src/views/CadreDashboard/CadreDashboardMain.jsx
  src/views/CadreDashboard/__tests__/__snapshots__/CadreDashboardMain.spec.jsx.snap
  src/views/CadreFellowDashboard/CertificationPage/CertificationPage.jsx
  src/views/CadreFellowDashboard/CertificationPage/__tests__/__snapshots__/CertificationPage.spec.jsx.snap
  src/views/CadreFellowDashboard/ProjectRoleDetails/ProjectRoleDetails.jsx
  src/views/CadreFellowDashboard/ProjectRoleDetails/ProjectRoleDetails.scss
  src/views/CadreFellowDashboard/ProjectRoleDetails/__test__/__snapshots__/ProjectRoleDetails.spec.js.snap
Due: eslint 'src/**/*.{js,jsx}' -c .eslintrc.json --fix, prettier-stylelint --write 'src/**/*.{css,scss}', pretty-quick --staged, react-scripts test src/ -b --forceExit --coverage --watchAll=false

chore(change-log): update change-log to capture features added and bugs fixed since V3.0.3
  change-log.md
Due: none

TOWER-194-task(certification): optimize program mananger dashboard
  src/components/EditCertificationModal/EditCertifcationModal.jsx
  src/redux/actionCreators/__tests__/opsEditCertificationActions.spec.js
  src/redux/actionCreators/opsEditCertificationActions.js
  src/redux/constants/cadreCertificationTypes.js
  src/redux/reducers/__tests__/cadreCertificationReducer.spec.js
  src/redux/reducers/cadreCertificationReducer.js
  src/views/CadreDashboard/CertificatesDashboard/CadreViewCertificates/CadreViewCerts.jsx
  src/views/CadreDashboard/CertificatesDashboard/CadreViewCertificates/__tests__/CadreViewCerts.spec.js
  src/views/CadreDashboard/CertificatesDashboard/CadreViewCertificates/__tests__/__snapshots__/CadreViewCerts.spec.js.snap
Due: eslint 'src/**/*.{js,jsx}' -c .eslintrc.json --fix, pretty-quick --staged, react-scripts test src/ -b --forceExit --coverage --watchAll=false

bug(certifications): add hasApplied field to certification vacancies
  src/components/CertificationDetailsRight/CertificationDetailsRight.jsx
  src/components/CertificationDetailsRight/__test__/CertificationDetailsRight.spec.js
  src/components/EngineerVacancies/EngineerVacancies.jsx
  src/components/EngineerVacancies/EngineerVacancyCard.jsx
  src/components/EngineerVacancies/__test__/__snapshots__/EngineerVacancies.spec.jsx.snap
  src/components/EngineerVacancies/__test__/__snapshots__/EngineerVacancyCard.spec.jsx.snap
  src/redux/reducers/__tests__/cadreVacanciesReducer.spec.js
  src/redux/reducers/cadreVacanciesReducer.js
  src/views/CadreFellowDashboard/CertificationPage/CertificationPage.jsx
  src/views/CadreFellowDashboard/CertificationPage/__tests__/CertificationPage.spec.jsx
  src/views/CadreFellowDashboard/CertificationPage/__tests__/__snapshots__/CertificationPage.spec.jsx.snap
Due: eslint 'src/**/*.{js,jsx}' -c .eslintrc.json --fix, pretty-quick --staged, react-scripts test src/ -b --forceExit --coverage --watchAll=false

chore(change-log): update change-log to capture features added and bugs fixed since V3.0.4
  change-log.md
Due: none

working
  src/components/EditCertificationModal/__tests__/EditCertificationModal.spec.jsx
  src/components/EditCertificationModal/__tests__/__snapshots__/EditCertificationModal.spec.jsx.snap
  src/views/CadreDashboard/CertificatesDashboard/CadreViewCertificates/CadreViewCerts.jsx
  src/views/CadreDashboard/CertificatesDashboard/CadreViewCertificates/__tests__/CadreViewCerts.spec.js
  src/views/CadreDashboard/CertificatesDashboard/CadreViewCertificates/__tests__/__snapshots__/CadreViewCerts.spec.js.snap
  src/views/CadreDashboard/CertificatesDashboard/CadreViewCertificates/__tests__/__snapshots__/CadreViewCertsContainer.spec.js.snap
  src/views/CadreDashboard/CertificatesDashboard/__tests__/CertificatesDashboard.spec.js
  src/views/CadreDashboard/ProjectsDashboard/AddRoleModal/AddRoleModal.jsx
  src/views/CadreDashboard/ProjectsDashboard/AddRoleModal/__tests__/AddRoleModal.spec.js
  src/views/CadreDashboard/ProjectsDashboard/AddRoleModal/__tests__/__snapshots__/AddRoleModal.spec.js.snap
  src/views/CadreDashboard/ProjectsDashboard/ViewProjects/ViewProjects.jsx
  src/views/CadreDashboard/RolesDashboard/CadreViewRoles/CadreViewRoles.jsx
  src/views/CadreDashboard/VacanciesDashboard/VacanciesDashboard.jsx
  src/views/CadreDashboard/VacanciesDashboard/__tests__/__snapshots__/vacanciesDashboard.spec.js.snap
  src/views/CadreDashboard/VacanciesDashboard/__tests__/vacanciesDashboard.spec.js
Due: eslint 'src/**/*.{js,jsx}' -c .eslintrc.json --fix, pretty-quick --staged, react-scripts test src/ -b --forceExit --coverage --watchAll=false

fix(em/sl dashboard): enable em/sl to access the cadre program (#539)
  src/components/Header/MenuLink.jsx
  src/components/Header/navlinks.js
  src/components/TeamManagerCard/__test__/__snapshots__/ApplicantProfileCard.spec.jsx.snap
  src/routes/DashboardRoutes.jsx
  src/utils/index.js
  src/views/CadreTeamManagersDashboard/Applications/Applications.jsx
  src/views/CadreTeamManagersDashboard/Applications/__tests__/__snapshots__/Applications.spec.jsx.snap
  src/views/CadreTeamManagersDashboard/Applications/__tests__/__snapshots__/TeamManagerViewApplications.spec.js.snap
  src/views/EngineeringManagerSimsLeadDashboard/index.js
  src/views/LoginPage/LoginPage.jsx
Due: eslint 'src/**/*.{js,jsx}' -c .eslintrc.json --fix, pretty-quick --staged, react-scripts test src/ -b --forceExit --coverage --watchAll=false
