Repository avpaul/watchtower: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint 'src/**/*.{js,jsx}' -c .eslintrc.json --fix, prettier-stylelint --write 'src/**/*.{css,scss}', pretty-quick --staged, react-scripts test src/ -b --forceExit --coverage --watchAll=false

.lintstagedrc:

{
      "src/**/*.{js,jsx,ts,tsx,json,md}": [
        "eslint 'src/**/*.{js,jsx}' -c .eslintrc.json --fix"
      ],
      "src/**/*.{css,scss}": [
        "prettier-stylelint --write 'src/**/*.{css,scss}' "
      ],
      "src/**/*.{js,jsx,ts,tsx,json,css,scss,md}": [
        "pretty-quick --staged",
        "react-scripts test src/ -b --forceExit --coverage --watchAll=false",
        "git add"
      ]
  }

Revert "TOWER-142 update role start date for engineers"
  src/components/EngineerProjectSummaryCard/EngineerProjectSummaryCard.js
  src/components/Reports/Table.jsx
  src/components/Reports/__tests__/__snapshots__/Table.spec.jsx.snap
Due: eslint 'src/**/*.{js,jsx}' -c .eslintrc.json --fix, pretty-quick --staged, react-scripts test src/ -b --forceExit --coverage --watchAll=false

bug(team manager dashboard): redirects to the team manager dashboard
  src/components/Header/LogoSection.js
  src/components/Header/ManagerHeader.js
  src/components/PrePipNotificationForm/__snapshots__/PrePipNotificationOutline.spec.jsx.snap
  src/routes/DashboardRoutes.jsx
  src/services/auth.jsx
  src/views/CadreTeamManagersDashboard/Applications/MapProjectApplications/__tests__/__snapshots__/MapProjectApplications.spec.js.snap
  src/views/LoginPage/LoginPage.jsx
  src/views/LoginPage/__tests__/LoginPage.spec.jsx
Due: eslint 'src/**/*.{js,jsx}' -c .eslintrc.json --fix, pretty-quick --staged, react-scripts test src/ -b --forceExit --coverage --watchAll=false

TOWER-80(responsivness):fix the responsivness of eng' dashboard
  src/assets/sass/abstract/_mixins.scss
  src/components/EngineerBio/EngineerBio.scss
  src/components/EngineerDashboardCard/EngineerDashboardCard.scss
  src/components/EngineerProjectSummaryCard/EngineerProjectSummaryCard.scss
  src/components/EngineerVacancies/EngineerVacancies.scss
Due: prettier-stylelint --write 'src/**/*.{css,scss}', pretty-quick --staged, react-scripts test src/ -b --forceExit --coverage --watchAll=false

TOWER-15(Team manager): View team member's profile
  src/components/EngineerBio/EngineerBio.scss
  src/components/EngineerBio/EngineerCard.js
  src/components/EngineerBio/ProfileContainer.js
  src/components/EngineerBio/__test__/EngineerCard.spec.jsx
  src/components/EngineerBio/__test__/__snapshots__/EngineerCard.spec.jsx.snap
  src/views/CadreDashboard/CadreDashboard.scss
  src/views/CadreTeamManagersDashboard/MyTeams/MyTeams.jsx
  src/views/CadreTeamManagersDashboard/MyTeams/__tests__/MyTeam.spec.jsx
  src/views/CadreTeamManagersDashboard/MyTeams/__tests__/__snapshots__/MyTeam.spec.jsx.snap
  src/views/CadreTeamManagersDashboard/__tests__/__snapshots__/CadreTeamManangerDashboard.spec.jsx.snap
Due: eslint 'src/**/*.{js,jsx}' -c .eslintrc.json --fix, prettier-stylelint --write 'src/**/*.{css,scss}', pretty-quick --staged, react-scripts test src/ -b --forceExit --coverage --watchAll=false

TOWER-130-story(certification): manager delete certification vacancies
  package.json
  src/__mocks__/certificationVacancy.js
  src/components/TDDOpsVacancyCard/TDDOPsVacancyCard.js
  src/components/TDDOpsVacancyCard/__test__/TDDOPsVacancyCard.spec.js
  src/components/TDDOpsVacancyCard/__test__/__snapshots__/TDDOPsVacancyCard.spec.js.snap
  src/redux/actionCreators/__tests__/certification/deleteCertificationVacancies.spec.js
  src/redux/actionCreators/certificationVacancyAction.js
  src/redux/constants/certificationVacanciesTypes.js
  src/redux/reducers/__tests__/getAllVacanciesReducer.spec.js
  src/redux/reducers/deleteCertificationVacanciesReducer.js
  src/redux/reducers/getAllVacanciesReducer.js
  src/redux/reducers/index.js
  src/redux/reducers/initialState.js
  src/views/CadreDashboard/VacanciesDashboard/AddVacanciesModal/AddVacanciesModal.jsx
  src/views/CadreDashboard/VacanciesDashboard/DeleteVacanciesModal/DeleteVacanciesModal.jsx
  src/views/CadreDashboard/VacanciesDashboard/DeleteVacanciesModal/DeleteVacanciesModalContainer.js
  src/views/CadreDashboard/VacanciesDashboard/DeleteVacanciesModal/__tests__/DeleteVacanciesModal.spec.js
  src/views/CadreDashboard/VacanciesDashboard/DeleteVacanciesModal/__tests__/__snapshots__/DeleteVacanciesModal.spec.js.snap
  src/views/CadreDashboard/VacanciesDashboard/DeleteVacanciesModal/__tests__/__snapshots__/DeleteVacanciesModalContainer.spec.jsx.snap
  src/views/CadreDashboard/VacanciesDashboard/ViewVacancies/ViewVacancies.js
  src/views/CadreDashboard/VacanciesDashboard/ViewVacancies/__tests__/ViewVacancies.spec.js
  src/views/CadreDashboard/VacanciesDashboard/ViewVacancies/__tests__/__snapshots__/ViewVacancies.spec.js.snap
  src/views/CadreDashboard/VacanciesDashboard/__tests__/__snapshots__/vacanciesDashboard.spec.js.snap
  src/views/CadreDashboard/VacanciesDashboard/__tests__/vacanciesDashboard.spec.js
  yarn.lock
Due: eslint 'src/**/*.{js,jsx}' -c .eslintrc.json --fix, pretty-quick --staged, react-scripts test src/ -b --forceExit --coverage --watchAll=false

story(team-manager): Team manager view applicants - work on implementation - wrote test
  src/components/FilterDropdown/index.js
  src/components/StackRectangle/StackRectangle.scss
  src/components/TeamManagerCard/ApplicantCard.jsx
  src/components/TeamManagerCard/ApplicantCard.scss
  src/components/TeamManagerCard/ApplicantProfileCard.jsx
  src/components/TeamManagerCard/ApplicantProjectCard.jsx
  src/components/TeamManagerCard/__test__/ApplicantProfileCard.spec.jsx
  src/components/TeamManagerCard/__test__/ApplicantProjectCard.spec.jsx
  src/components/TeamManagerCard/__test__/__snapshots__/ApplicantProfileCard.spec.jsx.snap
  src/components/TeamManagerCard/__test__/__snapshots__/ApplicantProjectCard.spec.jsx.snap
  src/redux/actionCreators/cadreTeamManager/__tests__/applicantActions.spec.js
  src/redux/actionCreators/cadreTeamManager/applicantActions.js
  src/redux/constants/cadreTeamManager/applicationsTypes.js
  src/redux/reducers/cadreTeamManager/__tests__/appicantReducer.spec.js
  src/redux/reducers/cadreTeamManager/applicantReducer.js
  src/redux/reducers/index.js
  src/views/CadreDashboard/CadreDashboard.scss
  src/views/CadreTeamManagersDashboard/Applications/Applications.jsx
  src/views/CadreTeamManagersDashboard/Applications/Applications.scss
  src/views/CadreTeamManagersDashboard/Applications/MapProjectApplications/MapProjectApplications.js
  src/views/CadreTeamManagersDashboard/Applications/MapProjectApplications/MapProjectApplications.scss
  src/views/CadreTeamManagersDashboard/Applications/MapProjectApplications/__tests__/MapProjectApplications.spec.js
  src/views/CadreTeamManagersDashboard/Applications/MapProjectApplications/__tests__/__snapshots__/MapProjectApplications.spec.js.snap
  src/views/CadreTeamManagersDashboard/Applications/MapProjectApplications/index.js
  src/views/CadreTeamManagersDashboard/Applications/__tests__/Applications.spec.jsx
  src/views/CadreTeamManagersDashboard/Applications/__tests__/TeamManagerViewApplications.spec.js
  src/views/CadreTeamManagersDashboard/Applications/__tests__/__snapshots__/Applications.spec.jsx.snap
  src/views/CadreTeamManagersDashboard/Applications/__tests__/__snapshots__/TeamManagerViewApplications.spec.js.snap
  src/views/CadreTeamManagersDashboard/CadreTeamManagersDashboard.jsx
  src/views/CadreTeamManagersDashboard/MyTeams/MyTeams.jsx
  src/views/CadreTeamManagersDashboard/MyTeams/__tests__/MyTeam.spec.jsx
  src/views/CadreTeamManagersDashboard/__tests__/__snapshots__/CadreTeamManangerDashboard.spec.jsx.snap
Due: eslint 'src/**/*.{js,jsx}' -c .eslintrc.json --fix, prettier-stylelint --write 'src/**/*.{css,scss}', pretty-quick --staged, react-scripts test src/ -b --forceExit --coverage --watchAll=false

story(Tower-135): Team manager accepts application … - Accept applications
  src/components/CadreSubmenu/cadreUtils.js
  src/components/TeamManagerCard/ApplicantCard.jsx
  src/components/TeamManagerCard/ApplicantCard.scss
  src/components/TeamManagerCard/ApplicantProfileCard.jsx
  src/components/TeamManagerCard/ApplicationAcceptanceConfirmationModal.jsx
  src/components/TeamManagerCard/__test__/ApplicantAcceptanceConfirmationModal.spec.jsx
  src/components/TeamManagerCard/__test__/__snapshots__/ApplicantAcceptanceConfirmationModal.spec.jsx.snap
  src/components/TeamManagerCard/__test__/__snapshots__/ApplicantProfileCard.spec.jsx.snap
  src/redux/actionCreators/cadreTeamManager/__tests__/applicantActions.spec.js
  src/redux/actionCreators/cadreTeamManager/__tests__/applicationAcceptanceActions.spec.js
  src/redux/actionCreators/cadreTeamManager/acceptApplicationActions.js
  src/redux/actionCreators/cadreTeamManager/applicantActions.js
  src/redux/constants/cadreTeamManager/applicationsTypes.js
  src/redux/reducers/__tests__/acceptApplicationReducer.spec.js
  src/redux/reducers/cadreTeamManager/__tests__/appicantReducer.spec.js
  src/redux/reducers/cadreTeamManager/applicantReducer.js
  src/redux/reducers/cadreTeamManager/applicationsReducer.js
  src/redux/reducers/index.js
  src/redux/reducers/initialState.js
  src/static/errorreport.png
  src/static/red-report.png
  src/views/CadreTeamManagersDashboard/Applications/Applications.jsx
  src/views/CadreTeamManagersDashboard/Applications/Applications.scss
  src/views/CadreTeamManagersDashboard/Applications/ApplicationsContainer.js
  src/views/CadreTeamManagersDashboard/Applications/__tests__/Applications.spec.jsx
  src/views/CadreTeamManagersDashboard/Applications/__tests__/TeamManagerViewApplications.spec.js
  src/views/CadreTeamManagersDashboard/Applications/__tests__/__snapshots__/Applications.spec.jsx.snap
  src/views/CadreTeamManagersDashboard/Applications/__tests__/__snapshots__/TeamManagerViewApplications.spec.js.snap
  src/views/CadreTeamManagersDashboard/Applications/__tests__/__snapshots__/TeamManagerViewApplicationsContainer.spec.js.snap
  src/views/CadreTeamManagersDashboard/MyTeams/MyTeams.jsx
  src/views/CadreTeamManagersDashboard/__tests__/__snapshots__/CadreTeamManangerDashboard.spec.jsx.snap
Due: eslint 'src/**/*.{js,jsx}' -c .eslintrc.json --fix, prettier-stylelint --write 'src/**/*.{css,scss}', pretty-quick --staged, react-scripts test src/ -b --forceExit --coverage --watchAll=false

bug(engineers): display requester details for roles
  src/components/EngineerProjectSummaryCard/EngineerProjectSummaryCard.js
  src/components/EngineerProjectSummaryCard/__tests__/EngineerProjectSummaryCard.spec.js
Due: eslint 'src/**/*.{js,jsx}' -c .eslintrc.json --fix, pretty-quick --staged, react-scripts test src/ -b --forceExit --coverage --watchAll=false

story(Tower-169):Add empty placeholder for teammanagers
  src/views/CadreTeamManagersDashboard/Applications/Applications.jsx
  src/views/CadreTeamManagersDashboard/Applications/__tests__/__snapshots__/Applications.spec.jsx.snap
  src/views/CadreTeamManagersDashboard/Applications/__tests__/__snapshots__/TeamManagerViewApplications.spec.js.snap
  src/views/CadreTeamManagersDashboard/MyTeams/MyTeams.jsx
  src/views/CadreTeamManagersDashboard/MyTeams/__tests__/MyTeam.spec.jsx
  src/views/CadreTeamManagersDashboard/MyTeams/__tests__/__snapshots__/MyTeam.spec.jsx.snap
  src/views/CadreTeamManagersDashboard/Placeholder/Placeholder.js
  src/views/CadreTeamManagersDashboard/Placeholder/__tests__/Placeholder.spec.jsx
  src/views/CadreTeamManagersDashboard/Placeholder/__tests__/__snapshots__/Placeholder.spec.jsx.snap
  src/views/CadreTeamManagersDashboard/Placeholders.scss
  src/views/CadreTeamManagersDashboard/Reports/Reports.jsx
  src/views/CadreTeamManagersDashboard/Reports/__tests__/__snapshots__/Reports.spec.jsx.snap
Due: eslint 'src/**/*.{js,jsx}' -c .eslintrc.json --fix, prettier-stylelint --write 'src/**/*.{css,scss}', pretty-quick --staged, react-scripts test src/ -b --forceExit --coverage --watchAll=false

story(analytics): implement data analytics with Amplitude
  .env.example
  jenkins/Jenkinsfile
  package.json
  src/services/analytics.js
  yarn.lock
Due: eslint 'src/**/*.{js,jsx}' -c .eslintrc.json --fix, pretty-quick --staged, react-scripts test src/ -b --forceExit --coverage --watchAll=false

TOWER-166-story(team-applicants): team manager accepts applicants after vacancy closes
  src/components/TeamManagerCard/ApplicantCard.jsx
  src/components/TeamManagerCard/ApplicantCard.scss
  src/components/TeamManagerCard/ApplicantProfileCard.jsx
  src/components/TeamManagerCard/__test__/ApplicantProfileCard.spec.jsx
  src/components/TeamManagerCard/__test__/__snapshots__/ApplicantProfileCard.spec.jsx.snap
  src/views/CadreTeamManagersDashboard/Applications/__tests__/Applications.spec.jsx
  src/views/CadreTeamManagersDashboard/Applications/__tests__/__snapshots__/Applications.spec.jsx.snap
Due: eslint 'src/**/*.{js,jsx}' -c .eslintrc.json --fix, prettier-stylelint --write 'src/**/*.{css,scss}', pretty-quick --staged, react-scripts test src/ -b --forceExit --coverage --watchAll=false

TOWER-167-story(Team manager): View remaining slots
  src/components/TeamManagerCard/ApplicationAcceptanceConfirmationModal.jsx
  src/components/TeamManagerCard/__test__/ApplicantAcceptanceConfirmationModal.spec.jsx
  src/redux/reducers/cadreTeamManager/applicationsReducer.js
  src/views/CadreTeamManagersDashboard/Applications/Applications.jsx
  src/views/CadreTeamManagersDashboard/Applications/__tests__/__snapshots__/Applications.spec.jsx.snap
Due: eslint 'src/**/*.{js,jsx}' -c .eslintrc.json --fix, pretty-quick --staged, react-scripts test src/ -b --forceExit --coverage --watchAll=false

Tower-134-story(team manager): request new team member
  src/components/FeedbackDuration/FeedbackDuration.jsx
  src/components/FeedbackDuration/__tests__/__snapshots__/FeedbackDuration.spec.js.snap
  src/redux/actionCreators/cadreTeamManager/__tests__/newTeamMemberRequestActions.spec.js
  src/redux/actionCreators/cadreTeamManager/newTeamMemberRequestActions.js
  src/redux/constants/cadreTeamManager/newTeamMemberTypes.js
  src/redux/reducers/cadreTeamManager/newTeamMemberRequestReducer.js
  src/redux/reducers/index.js
  src/redux/reducers/initialState.js
  src/redux/reducers/teamManagerReducer.js
  src/views/CadreTeamManagersDashboard/MyTeams/MyTeams.jsx
  src/views/CadreTeamManagersDashboard/MyTeams/RequestNewTeamMemberModal/RequestNewTeamMemberModal.jsx
  src/views/CadreTeamManagersDashboard/MyTeams/RequestNewTeamMemberModal/RequestNewTeamMemberModal.scss
  src/views/CadreTeamManagersDashboard/MyTeams/RequestNewTeamMemberModal/RequestNewTeamMemberModalContainer.js
  src/views/CadreTeamManagersDashboard/MyTeams/RequestNewTeamMemberModal/__tests__/RequestNewTeamMemberModal.spec.js
  src/views/CadreTeamManagersDashboard/MyTeams/RequestNewTeamMemberModal/__tests__/__snapshots__/RequestNewTeamMemberModal.spec.js.snap
  src/views/CadreTeamManagersDashboard/MyTeams/RequestNewTeamMemberModal/index.js
  src/views/CadreTeamManagersDashboard/MyTeams/__tests__/__snapshots__/MyTeam.spec.jsx.snap
  src/views/CadreTeamManagersDashboard/__tests__/__snapshots__/CadreTeamManangerDashboard.spec.jsx.snap
  src/views/FeedbackDashboard/FeedbackDashboard.jsx
  src/views/FeedbackDashboard/__tests__/__snapshots__/FeedbackDashboard.spec.jsx.snap
Due: eslint 'src/**/*.{js,jsx}' -c .eslintrc.json --fix, prettier-stylelint --write 'src/**/*.{css,scss}', pretty-quick --staged, react-scripts test src/ -b --forceExit --coverage --watchAll=false

TOWER-14-story(frontend): team manager can roll off engineer
  src/__mocks__/managerTeamData.js
  src/components/EngineerBio/ProfileContainer.js
  src/redux/actionCreators/__tests__/teamManagerAction.spec.js
  src/redux/actionCreators/teamManagerActions.js
  src/redux/constants/teamManagerActionTypes.js
  src/redux/reducers/__tests__/teamManagerReducer.spec.js
  src/redux/reducers/index.js
  src/redux/reducers/initialState.js
  src/redux/reducers/teamManagerReducer.js
  src/views/CadreDashboard/CadreDashboard.scss
  src/views/CadreTeamManagersDashboard/MyTeams/MyTeamContainer.js
  src/views/CadreTeamManagersDashboard/MyTeams/MyTeams.jsx
  src/views/CadreTeamManagersDashboard/MyTeams/__tests__/MyTeam.spec.jsx
  src/views/CadreTeamManagersDashboard/MyTeams/__tests__/__snapshots__/MyTeam.spec.jsx.snap
  src/views/CadreTeamManagersDashboard/__tests__/__snapshots__/CadreTeamManangerDashboard.spec.jsx.snap
Due: eslint 'src/**/*.{js,jsx}' -c .eslintrc.json --fix, prettier-stylelint --write 'src/**/*.{css,scss}', pretty-quick --staged, react-scripts test src/ -b --forceExit --coverage --watchAll=false

story(analytics): implement data analytics with Amplitude
  jenkins/Jenkinsfile
Due: none

TOWER-182-bug(project): fix editing of project vacancies
  src/views/CadreDashboard/VacanciesDashboard/AddVacanciesModal/AddVacanciesModal.jsx
  src/views/CadreDashboard/VacanciesDashboard/AddVacanciesModal/__tests__/AddVacancyModal.spec.js
  src/views/CadreDashboard/VacanciesDashboard/AddVacanciesModal/__tests__/__snapshots__/AddVacancyModal.spec.js.snap
  src/views/CadreDashboard/VacanciesDashboard/AddVacanciesModal/addVacancyModal.scss
  src/views/CadreDashboard/VacanciesDashboard/VacanciesDashboard.jsx
Due: eslint 'src/**/*.{js,jsx}' -c .eslintrc.json --fix, prettier-stylelint --write 'src/**/*.{css,scss}', pretty-quick --staged, react-scripts test src/ -b --forceExit --coverage --watchAll=false

bug:(hotfix): team manager hotfix - fix
  src/components/LargeModal/LargeModal.jsx
  src/components/LargeModal/__tests__/__snapshots__/LargeModal.spec.jsx.snap
  src/components/TeamManagerCard/ApplicantCard.jsx
  src/components/TeamManagerCard/ApplicantCard.scss
  src/components/TeamManagerCard/ApplicantProfileCard.jsx
  src/components/TeamManagerCard/ApplicationAcceptanceConfirmationModal.jsx
  src/components/TeamManagerCard/__test__/ApplicantAcceptanceConfirmationModal.spec.jsx
  src/components/TeamManagerCard/__test__/ApplicantProfileCard.spec.jsx
  src/components/TeamManagerCard/__test__/__snapshots__/ApplicantProfileCard.spec.jsx.snap
  src/views/CadreDashboard/RolesDashboard/ViewRoleApplicants/__tests__/__snapshots__/ViewRoleApplicantsModal.spec.js.snap
  src/views/CadreTeamManagersDashboard/Applications/Applications.jsx
  src/views/CadreTeamManagersDashboard/Applications/Applications.scss
  src/views/CadreTeamManagersDashboard/Applications/__tests__/Applications.spec.jsx
  src/views/CadreTeamManagersDashboard/Applications/__tests__/__snapshots__/Applications.spec.jsx.snap
  src/views/CadreTeamManagersDashboard/Applications/__tests__/__snapshots__/TeamManagerViewApplications.spec.js.snap
Due: eslint 'src/**/*.{js,jsx}' -c .eslintrc.json --fix, prettier-stylelint --write 'src/**/*.{css,scss}', pretty-quick --staged, react-scripts test src/ -b --forceExit --coverage --watchAll=false

TOWER-183-bug(server): remove roll off button from cadre dashboard
  src/components/EngineerBio/ProfileContainer.js
  src/components/EngineerBio/__test__/__snapshots__/EngineerCard.spec.jsx.snap
  src/views/CadreTeamManagersDashboard/MyTeams/MyTeams.jsx
  src/views/CadreTeamManagersDashboard/MyTeams/__tests__/__snapshots__/MyTeam.spec.jsx.snap
Due: eslint 'src/**/*.{js,jsx}' -c .eslintrc.json --fix, pretty-quick --staged, react-scripts test src/ -b --forceExit --coverage --watchAll=false

TOWER-184-fix(Ops): View project with active engineer
  src/services/helper.js
Due: eslint 'src/**/*.{js,jsx}' -c .eslintrc.json --fix, pretty-quick --staged, react-scripts test src/ -b --forceExit --coverage --watchAll=false

TOWER-129-story(vacancies): update certification vacancy
  src/components/TDDOpsVacancyCard/TDDOPsVacancyCard.js
  src/redux/actionCreators/__tests__/certification/createCertificationVacanciesAction.spec.js
  src/redux/actionCreators/__tests__/certification/deleteCertificationVacancies.spec.js
  src/redux/actionCreators/__tests__/certification/editCertificationVacancyAction.spec.js
  src/redux/actionCreators/certificationVacancyAction.js
  src/redux/constants/certificationVacanciesTypes.js
  src/redux/reducers/__tests__/editCertificationVacanciesReducer.spec.js
  src/redux/reducers/__tests__/getAllVacanciesReducer.spec.js
  src/redux/reducers/editCertificationVacanciesReducer.js
  src/redux/reducers/getAllVacanciesReducer.js
  src/redux/reducers/index.js
  src/redux/reducers/initialState.js
  src/views/CadreDashboard/VacanciesDashboard/AddVacanciesModal/AddVacanciesModal.jsx
  src/views/CadreDashboard/VacanciesDashboard/AddVacanciesModal/AddVacanciesModalContainer.js
  src/views/CadreDashboard/VacanciesDashboard/AddVacanciesModal/__tests__/AddVacancyModal.spec.js
  src/views/CadreDashboard/VacanciesDashboard/AddVacanciesModal/__tests__/__snapshots__/AddVacancyModal.spec.js.snap
Due: eslint 'src/**/*.{js,jsx}' -c .eslintrc.json --fix, pretty-quick --staged, react-scripts test src/ -b --forceExit --coverage --watchAll=false

TOWER-80(responsivness):fix the responsivness of eng' dashboard
  src/components/Header/ProfileDropDown.jsx
  src/components/TeamManagerCard/ApplicantCard.jsx
  src/components/TeamManagerCard/ApplicantCard.scss
  src/components/TeamManagerCard/ApplicantProfileCard.jsx
  src/components/TeamManagerCard/__test__/__snapshots__/ApplicantProfileCard.spec.jsx.snap
  src/redux/actionCreators/cadreTeamManager/__tests__/applicantActions.spec.js
  src/redux/actionCreators/cadreTeamManager/applicantActions.js
  src/redux/reducers/cadreTeamManager/__tests__/appicantReducer.spec.js
  src/redux/reducers/cadreTeamManager/applicantReducer.js
  src/views/CadreTeamManagersDashboard/Applications/ApplicationsContainer.js
  src/views/CadreTeamManagersDashboard/Applications/__tests__/Applications.spec.jsx
  src/views/CadreTeamManagersDashboard/Applications/__tests__/__snapshots__/Applications.spec.jsx.snap
  src/views/CadreTeamManagersDashboard/Applications/__tests__/__snapshots__/TeamManagerViewApplicationsContainer.spec.js.snap
  src/views/CadreTeamManagersDashboard/MyTeams/MyTeams.jsx
  src/views/CadreTeamManagersDashboard/MyTeams/__tests__/__snapshots__/MyTeam.spec.jsx.snap
Due: eslint 'src/**/*.{js,jsx}' -c .eslintrc.json --fix, prettier-stylelint --write 'src/**/*.{css,scss}', pretty-quick --staged, react-scripts test src/ -b --forceExit --coverage --watchAll=false

TOWER-story-178(login): redirect user after authentication
  src/components/CustomLoader/CustomLoaders.scss
  src/services/__tests__/loginRedirection.spec.js
  src/services/loginRedirection.js
  src/views/LoginPage/LoginPage.jsx
  src/views/LoginPage/__tests__/LoginPage.spec.jsx
Due: eslint 'src/**/*.{js,jsx}' -c .eslintrc.json --fix, prettier-stylelint --write 'src/**/*.{css,scss}', pretty-quick --staged, react-scripts test src/ -b --forceExit --coverage --watchAll=false

TOWER-165(engineers): reduce load time on application - remove redundant requests - stop fetching existing data [Finishes TOWER-165]
  src/components/RoleDetailsRight/__test__/__snapshots__/RoleDetailsRight.spec.js.snap
  src/views/CadreFellowDashboard/ProjectRoleDetails/__test__/__snapshots__/ProjectRoleDetails.spec.js.snap
Due: none

TOWER-113(Redesign certification page): certification application page redisigned
  src/components/CertificationDetailsLeft/CertificationDetailsLeft.jsx
  src/components/CertificationDetailsLeft/__test__/CertificationDetailsLeft.spec.jsx
  src/components/CertificationDetailsLeft/__test__/__snapshots__/CertificationDetailsLeft.spec.jsx.snap
  src/components/CertificationDetailsLeft/index.js
  src/components/CertificationDetailsRight/CertificationDetailsRight.jsx
  src/components/CertificationDetailsRight/__test__/CertificationDetailsRight.spec.js
  src/components/CertificationDetailsRight/__test__/__snapshots__/CertificationDetailsRight.spec.js.snap
  src/components/CertificationDetailsRight/index.js
  src/components/RoleDetailsRight/__test__/__snapshots__/RoleDetailsRight.spec.js.snap
  src/utils/__tests__/formatAndelanUserEmail.js
  src/utils/formatAndelanUserEmail.js
  src/views/CadreFellowDashboard/CertificationPage/CertificationPage.jsx
  src/views/CadreFellowDashboard/CertificationPage/__tests__/CertificationPage.spec.jsx
  src/views/CadreFellowDashboard/CertificationPage/__tests__/CertificationPageContainer.spec.jsx
  src/views/CadreFellowDashboard/CertificationPage/__tests__/__snapshots__/CertificationPage.spec.jsx.snap
  src/views/CadreFellowDashboard/CertificationPage/__tests__/__snapshots__/CertificationPageContainer.spec.jsx.snap
  src/views/CadreFellowDashboard/ProjectRoleDetails/ProjectRoleDetails.scss
  src/views/CadreFellowDashboard/ProjectRoleDetails/__test__/__snapshots__/ProjectRoleDetails.spec.js.snap
Due: eslint 'src/**/*.{js,jsx}' -c .eslintrc.json --fix, prettier-stylelint --write 'src/**/*.{css,scss}', pretty-quick --staged, react-scripts test src/ -b --forceExit --coverage --watchAll=false

TOWER 187 Fixed loader position and disable acceptance button
  src/components/CustomLoader/CustomLoaders.scss
  src/components/TeamManagerCard/ApplicantProfileCard.jsx
  src/components/TeamManagerCard/__test__/__snapshots__/ApplicantProfileCard.spec.jsx.snap
  src/views/CadreTeamManagersDashboard/Applications/__tests__/__snapshots__/Applications.spec.jsx.snap
Due: eslint 'src/**/*.{js,jsx}' -c .eslintrc.json --fix, prettier-stylelint --write 'src/**/*.{css,scss}', pretty-quick --staged, react-scripts test src/ -b --forceExit --coverage --watchAll=false

bug(remove fetching of all d1-engineers): Reduce load time
  src/components/TeamManagerCard/ApplicantCard.jsx
Due: eslint 'src/**/*.{js,jsx}' -c .eslintrc.json --fix, pretty-quick --staged, react-scripts test src/ -b --forceExit --coverage --watchAll=false

bug(amplitude):commented out the code that adds amplitude temporarily so as to enable the failing deployment (#514)
  jenkins/Jenkinsfile
  src/services/analytics.js
Due: eslint 'src/**/*.{js,jsx}' -c .eslintrc.json --fix, pretty-quick --staged, react-scripts test src/ -b --forceExit --coverage --watchAll=false

chore(change-log): update change-log to capture features added and bugs fixed since V3.0.1
  change-log.md
Due: none

TOWER-188: fix role application - fix modal to not display when there are no applicants
  src/components/RoleAndCertificationCard/Card.jsx
Due: eslint 'src/**/*.{js,jsx}' -c .eslintrc.json --fix, pretty-quick --staged, react-scripts test src/ -b --forceExit --coverage --watchAll=false

story(analytics): implement data analytics with Amplitude
  jenkins/Jenkinsfile
  src/services/analytics.js
Due: eslint 'src/**/*.{js,jsx}' -c .eslintrc.json --fix, pretty-quick --staged, react-scripts test src/ -b --forceExit --coverage --watchAll=false

fix(authentication): allows staffing specialists to access watchtower
  src/routes/DashboardRoutes.jsx
Due: eslint 'src/**/*.{js,jsx}' -c .eslintrc.json --fix, pretty-quick --staged, react-scripts test src/ -b --forceExit --coverage --watchAll=false

fix d0 login redirect
  src/redux/reducers/__tests__/d1FellowProfileDataReducer.spec.js
  src/redux/reducers/d1FellowProfileDataReducer.js
  src/redux/reducers/initialState.js
  src/routes/FellowRoutesHoc.js
Due: eslint 'src/**/*.{js,jsx}' -c .eslintrc.json --fix, pretty-quick --staged, react-scripts test src/ -b --forceExit --coverage --watchAll=false

TOWER-190-fix(CadreEngineer): Show error message
  src/components/RoleDetailsRight/RoleDetailsRight.jsx
  src/components/RoleDetailsRight/__test__/RoleDetailsRight.spec.js
  src/components/RoleDetailsRight/__test__/__snapshots__/RoleDetailsRight.spec.js.snap
  src/views/CadreFellowDashboard/RoleApplication/RoleApplication.jsx
Due: eslint 'src/**/*.{js,jsx}' -c .eslintrc.json --fix, pretty-quick --staged, react-scripts test src/ -b --forceExit --coverage --watchAll=false

chore(change-log): update change-log to capture features added and bugs fixed since V3.0.2
  change-log.md
Due: none

TOWER-190-hotFix(CadreEngineer): Show erro or confirmation modal after applying (#524)
  src/views/CadreFellowDashboard/RoleApplication/RoleApplication.jsx
Due: eslint 'src/**/*.{js,jsx}' -c .eslintrc.json --fix, pretty-quick --staged, react-scripts test src/ -b --forceExit --coverage --watchAll=false

TOWER--200-task(cadre vacancies): reduce request time on cadre vacancies
  src/components/EngineerVacancies/EngineerVacancies.jsx
  src/components/EngineerVacancies/EngineerVacancyCard.jsx
  src/components/EngineerVacancies/__test__/__snapshots__/EngineerVacancies.spec.jsx.snap
  src/components/RoleDetailsRight/RoleDetailsRight.jsx
  src/components/RoleDetailsRight/__test__/RoleDetailsRight.spec.js
  src/components/RoleDetailsRight/__test__/__snapshots__/RoleDetailsRight.spec.js.snap
  src/components/SellYourselfModal/SellYourselfModal.jsx
  src/redux/reducers/__tests__/cadreVacanciesReducer.spec.js
  src/redux/reducers/cadreVacanciesReducer.js
  src/views/CadreFellowDashboard/ProjectRoleDetails/ProjectRoleDetails.jsx
  src/views/CadreFellowDashboard/RoleApplication/RoleApplication.jsx
  src/views/CadreFellowDashboard/RoleApplication/RoleApplicationContainer.js
  src/views/CadreFellowDashboard/RoleApplication/__tests__/RoleApplication.spec.js
  src/views/CadreFellowDashboard/RoleApplication/__tests__/__snapshots__/RoleApplication.spec.js.snap
Due: eslint 'src/**/*.{js,jsx}' -c .eslintrc.json --fix, pretty-quick --staged, react-scripts test src/ -b --forceExit --coverage --watchAll=false

bug(TeamManager): fix the failing roll off modal - fix the modal state not closing when rolling off an engineer for the second time
  src/views/CadreTeamManagersDashboard/MyTeams/MyTeams.jsx
  src/views/CadreTeamManagersDashboard/MyTeams/MyTeams.scss
  src/views/CadreTeamManagersDashboard/MyTeams/__tests__/__snapshots__/MyTeam.spec.jsx.snap
Due: eslint 'src/**/*.{js,jsx}' -c .eslintrc.json --fix, prettier-stylelint --write 'src/**/*.{css,scss}', pretty-quick --staged, react-scripts test src/ -b --forceExit --coverage --watchAll=false
