Repository avpaul/watchtower: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint 'src/**/*.{js,jsx}' -c .eslintrc.json --fix, prettier-stylelint --write 'src/**/*.{css,scss}', pretty-quick --staged, react-scripts test src/ -b --forceExit --coverage --watchAll=false

.lintstagedrc:

{
      "src/**/*.{js,jsx,ts,tsx,json,md}": [
        "eslint 'src/**/*.{js,jsx}' -c .eslintrc.json --fix"
      ],
      "src/**/*.{css,scss}": [
        "prettier-stylelint --write 'src/**/*.{css,scss}' "
      ],
      "src/**/*.{js,jsx,ts,tsx,json,css,scss,md}": [
        "pretty-quick --staged",
        "react-scripts test src/ -b --forceExit --coverage --watchAll=false",
        "git add"
      ]
  }

change text color
  src/views/CadreFellowDashboard/ProjectRoleDetails/ProjectRoleDetails.scss
Due: prettier-stylelint --write 'src/**/*.{css,scss}', pretty-quick --staged, react-scripts test src/ -b --forceExit --coverage --watchAll=false

change fellow.id to fellow_id for certification applicants
  src/components/EngineerVacancies/EngineerVacancyCard.jsx
  src/components/EngineerVacancies/__test__/EngineerVacancyCard.spec.jsx
  src/components/EngineerVacancies/__test__/__snapshots__/EngineerVacancyCard.spec.jsx.snap
  src/components/MapProjectRoleCard/MapProjectRoleCard.jsx
  src/components/MapProjectRoleCard/MapProjectRoleCard.scss
  src/components/MapProjectRoleCard/__test__/__snapshots__/MapProjectRoleCard.spec.jsx.snap
  src/components/RoleAndCertificationCard/Card.jsx
  src/components/RoleAndCertificationCard/Card.scss
  src/components/RoleAndCertificationCard/__tests__/__snapshots__/RoleandCertCard.spec.jsx.snap
  src/views/CadreFellowDashboard/CertificationPage/CertificationPage.jsx
  src/views/CadreFellowDashboard/CertificationPage/__tests__/CertificationPage.spec.jsx
Due: eslint 'src/**/*.{js,jsx}' -c .eslintrc.json --fix, prettier-stylelint --write 'src/**/*.{css,scss}', pretty-quick --staged, react-scripts test src/ -b --forceExit --coverage --watchAll=false

fix engineer vacancy dashboard link (#448)
  src/components/EngineerVacancies/EngineerVacancyCard.jsx
  src/components/EngineerVacancies/__test__/__snapshots__/EngineerVacancyCard.spec.jsx.snap
Due: eslint 'src/**/*.{js,jsx}' -c .eslintrc.json --fix, pretty-quick --staged, react-scripts test src/ -b --forceExit --coverage --watchAll=false

TOWER-76(vacancies): fix notifications closing button (#449)
  src/components/CadreDeletionModal/DeletionModal.jsx
  src/components/CadreDeletionModal/DeletionModal.scss
  src/components/CadreDeletionModal/__tests__/__snapshots__/DeletionModal.spec.js.snap
  src/components/Header/Header.jsx
  src/components/LargeModal/LargeModal.jsx
  src/components/LargeModal/LargeModal.scss
  src/components/LargeModal/__tests__/LargeModal.spec.jsx
  src/components/LargeModal/__tests__/__snapshots__/LargeModal.spec.jsx.snap
  src/components/RoleAndCertificationCard/__tests__/RoleandCertCard.spec.jsx
  src/views/CadreDashboard/RolesDashboard/ViewRoleApplicants/__tests__/__snapshots__/ViewRoleApplicantsModal.spec.js.snap
Due: eslint 'src/**/*.{js,jsx}' -c .eslintrc.json --fix, prettier-stylelint --write 'src/**/*.{css,scss}', pretty-quick --staged, react-scripts test src/ -b --forceExit --coverage --watchAll=false

TOWER-83 Fixed validation on project edit (#451)
  src/views/CadreDashboard/ProjectsDashboard/ProjectForm/ProjectForm.jsx
  src/views/CadreDashboard/ProjectsDashboard/ProjectForm/ProjectFormLeft.js
Due: eslint 'src/**/*.{js,jsx}' -c .eslintrc.json --fix, pretty-quick --staged, react-scripts test src/ -b --forceExit --coverage --watchAll=false

update Code Climate's maintainability and test coverage badges
  README.md
Due: none

TOWER-104(role): fix cadre application bug for project (#452)
  src/components/CadreProjectDetails/CadreProjectDetails.scss
  src/components/CadreProjectDetails/ProjectLinks.jsx
  src/components/CadreProjectDetails/__tests__/__snapshots__/ProjectDetails.spec.jsx.snap
  src/components/EngineerVacancies/EngineerVacancies.jsx
  src/components/EngineerVacancies/EngineerVacancyCard.jsx
  src/components/EngineerVacancies/__test__/__snapshots__/EngineerVacancies.spec.jsx.snap
  src/components/EngineerVacancies/__test__/__snapshots__/EngineerVacancyCard.spec.jsx.snap
  src/components/ProjectCard/ProjectCard.scss
  src/components/RoleDetailsRight/RoleDetailsRight.jsx
  src/components/RoleDetailsRight/__test__/RoleDetailsRight.spec.js
  src/components/RoleDetailsRight/__test__/__snapshots__/RoleDetailsRight.spec.js.snap
  src/views/CadreFellowDashboard/ProjectRoleDetails/ProjectRoleDetails.jsx
  src/views/CadreFellowDashboard/RoleApplication/RoleApplication.jsx
  src/views/CadreFellowDashboard/RoleApplication/__tests__/__snapshots__/RoleApplication.spec.js.snap
Due: eslint 'src/**/*.{js,jsx}' -c .eslintrc.json --fix, prettier-stylelint --write 'src/**/*.{css,scss}', pretty-quick --staged, react-scripts test src/ -b --forceExit --coverage --watchAll=false

chore(change-log): update change-log to capture features added and bugs fixed since V2.0.0
  change-log.md
Due: none

TOWER-110(vacancies): fix search icon error
  src/views/CadreDashboard/VacanciesDashboard/ViewVacancies/ViewVacancies.js
  src/views/CadreDashboard/VacanciesDashboard/ViewVacancies/__tests__/__snapshots__/ViewVacancies.spec.js.snap
Due: eslint 'src/**/*.{js,jsx}' -c .eslintrc.json --fix, pretty-quick --staged, react-scripts test src/ -b --forceExit --coverage --watchAll=false

TOWER-111-bug(cadre dashboard): add a loader on certification and role pages
  src/views/CadreFellowDashboard/CertificationPage/CertificationPage.jsx
  src/views/CadreFellowDashboard/ProjectRoleDetails/ProjectRoleDetails.jsx
  src/views/CadreFellowDashboard/ProjectRoleDetails/__test__/__snapshots__/ProjectRoleDetails.spec.js.snap
Due: eslint 'src/**/*.{js,jsx}' -c .eslintrc.json --fix, pretty-quick --staged, react-scripts test src/ -b --forceExit --coverage --watchAll=false

TOWER-109-bug(front end): update project details after edit
  src/components/CadreProjectDetails/ProjectDetails.jsx
  src/components/FormInputs/__tests__/fileUploadInput.spec.js
  src/components/FormInputs/fileUploadInput.jsx
Due: eslint 'src/**/*.{js,jsx}' -c .eslintrc.json --fix, pretty-quick --staged, react-scripts test src/ -b --forceExit --coverage --watchAll=false

TOWER-114(roles): fix vacancies and active engineers count
  src/components/MapProjectRoleCard/MapProjectRoleCard.jsx
  src/components/MapProjectRoleCard/__test__/__snapshots__/MapProjectRoleCard.spec.jsx.snap
Due: eslint 'src/**/*.{js,jsx}' -c .eslintrc.json --fix, pretty-quick --staged, react-scripts test src/ -b --forceExit --coverage --watchAll=false

TOWER-122(vacancies): display number of applicants
  src/__mocks__/projectVacancy.js
  src/components/TDDOpsVacancyCard/TDDOPsVacancyCard.js
  src/components/TDDOpsVacancyCard/__test__/TDDOPsVacancyCard.spec.js
  src/components/TDDOpsVacancyCard/__test__/__snapshots__/TDDOPsVacancyCard.spec.js.snap
  src/views/CadreDashboard/VacanciesDashboard/__tests__/__snapshots__/vacanciesDashboard.spec.js.snap
  src/views/CadreDashboard/VacanciesDashboard/__tests__/vacanciesDashboard.spec.js
Due: eslint 'src/**/*.{js,jsx}' -c .eslintrc.json --fix, pretty-quick --staged, react-scripts test src/ -b --forceExit --coverage --watchAll=false

bug(populate links ):Populate existing links when editing
  src/components/CadreProjectDetails/CadreProjectDetails.scss
  src/components/FormInputs/__tests__/__snapshots__/linksUpload.spec.js.snap
  src/components/FormInputs/__tests__/linksUpload.spec.js
  src/components/FormInputs/helpers.js
  src/components/FormInputs/linksUploadInput.jsx
  src/components/FormInputs/linksUploadInput.scss
  src/views/CadreDashboard/ProjectsDashboard/ProjectForm/ProjectFormLeft.js
Due: eslint 'src/**/*.{js,jsx}' -c .eslintrc.json --fix, prettier-stylelint --write 'src/**/*.{css,scss}', pretty-quick --staged, react-scripts test src/ -b --forceExit --coverage --watchAll=false

TOWER-114(certifications): fix vacancies and certified engineers count
  src/components/MapProjectRoleCard/MapProjectRoleCard.jsx
Due: eslint 'src/**/*.{js,jsx}' -c .eslintrc.json --fix, pretty-quick --staged, react-scripts test src/ -b --forceExit --coverage --watchAll=false

TOWER-115: fix application title - fix title on application modal to show project name - update tests and snapshots
  src/views/CadreFellowDashboard/ProjectRoleDetails/ProjectRoleDetails.jsx
  src/views/CadreFellowDashboard/RoleApplication/RoleApplication.jsx
  src/views/CadreFellowDashboard/RoleApplication/__tests__/__snapshots__/RoleApplication.spec.js.snap
Due: eslint 'src/**/*.{js,jsx}' -c .eslintrc.json --fix, pretty-quick --staged, react-scripts test src/ -b --forceExit --coverage --watchAll=false

TOWER-136-story(authentication): login team manager
  src/components/Header/Header.jsx
  src/components/Header/ManagerHeader.js
  src/components/Header/__tests__/navlinks.spec.js
  src/components/Header/navlinks.js
  src/routes/DashboardRoutes.jsx
  src/views/TTLDashboard/index.js
Due: eslint 'src/**/*.{js,jsx}' -c .eslintrc.json --fix, pretty-quick --staged, react-scripts test src/ -b --forceExit --coverage --watchAll=false

bug-tower-108(roles application): display errors on form
  report.20190806.213405.40021.0.001.json
  src/__mocks__/roleApplicationData.json
  src/components/LargeModal/LargeModal.scss
  src/components/SellYourselfModal/SellYourselfModal.jsx
  src/components/SellYourselfModal/SellYourselfModal.scss
  src/components/SellYourselfModal/SellYourselfModal.spec.js
  src/components/SellYourselfModal/__snapshots__/SellYourselfModal.spec.js.snap
  src/views/CadreFellowDashboard/CadrePage/CadrePage.jsx
  src/views/CadreFellowDashboard/CadrePage/__tests__/__snapshots__/CadrePage.spec.jsx.snap
  src/views/CadreFellowDashboard/CertificationPage/__tests__/__snapshots__/CertificationPage.spec.jsx.snap
  src/views/CadreFellowDashboard/RoleApplication/RoleApplication.jsx
  src/views/CadreFellowDashboard/RoleApplication/RoleApplication.scss
  src/views/CadreFellowDashboard/RoleApplication/__tests__/RoleApplication.spec.js
  src/views/CadreFellowDashboard/RoleApplication/__tests__/__snapshots__/RoleApplication.spec.js.snap
Due: eslint 'src/**/*.{js,jsx}' -c .eslintrc.json --fix, prettier-stylelint --write 'src/**/*.{css,scss}', pretty-quick --staged, react-scripts test src/ -b --forceExit --coverage --watchAll=false

TOWER-148-task(JENKINS): fix the environment variables issue on jenkins
  jenkins/Jenkinsfile
Due: none

TOWER-67-BUG(fellow): Add days left and role start date for vacancies
  src/components/RoleDetailsLeft/RoleDetailsLeft.jsx
  src/components/RoleDetailsLeft/__test__/RoleDetailsLeft.spec.js
  src/components/RoleDetailsLeft/__test__/__snapshots__/RoleDetailsLeft.spec.js.snap
  src/components/RoleDetailsRight/RoleDetailsRight.jsx
  src/components/RoleDetailsRight/__test__/RoleDetailsRight.spec.js
  src/components/RoleDetailsRight/__test__/__snapshots__/RoleDetailsRight.spec.js.snap
  src/utils/formatDate.js
  src/views/CadreDashboard/CadreDashboardMain.jsx
  src/views/CadreFellowDashboard/ProjectRoleDetails/ProjectRoleDetails.jsx
  src/views/CadreFellowDashboard/ProjectRoleDetails/ProjectRoleDetails.scss
  src/views/CadreFellowDashboard/ProjectRoleDetails/__test__/__snapshots__/ProjectRoleDetails.spec.js.snap
Due: eslint 'src/**/*.{js,jsx}' -c .eslintrc.json --fix, prettier-stylelint --write 'src/**/*.{css,scss}', pretty-quick --staged, react-scripts test src/ -b --forceExit --coverage --watchAll=false

TOWER-47-story(team-manager): Team Manager View Card
  src/components/TeamManagerCard/TeamCard.jsx
  src/components/TeamManagerCard/TeamCard.scss
  src/components/TeamManagerCard/__test__/TeamCard.spec.jsx
  src/components/TeamManagerCard/__test__/__snapshots__/TeamCard.spec.jsx.snap
  src/components/TeamManagerCard/index.js
Due: eslint 'src/**/*.{js,jsx}' -c .eslintrc.json --fix, prettier-stylelint --write 'src/**/*.{css,scss}', pretty-quick --staged, react-scripts test src/ -b --forceExit --coverage --watchAll=false

TOWER-153(fix): fix failing snapshots
  src/components/RoleDetailsRight/__test__/__snapshots__/RoleDetailsRight.spec.js.snap
Due: none

TOWER-151-bug(vacancies): stop deduction of slots after application approval
  src/components/TDDOpsVacancyCard/TDDOPsVacancyCard.js
  src/components/TDDOpsVacancyCard/TDDOPsVacancyCard.scss
  src/components/TDDOpsVacancyCard/__test__/__snapshots__/TDDOPsVacancyCard.spec.js.snap
Due: eslint 'src/**/*.{js,jsx}' -c .eslintrc.json --fix, prettier-stylelint --write 'src/**/*.{css,scss}', pretty-quick --staged, react-scripts test src/ -b --forceExit --coverage --watchAll=false

TOWER-154-task(JENKINS): fix the jenkins authorization error
  jenkins/Jenkinsfile
Due: none

chore(change-log): update change-log to capture features added and bugs fixed since V3.0.0
  change-log.md
Due: none

TOWER-155-bug(snapshots): fix failing snapshots (#480)
  src/components/RoleDetailsRight/__test__/__snapshots__/RoleDetailsRight.spec.js.snap
Due: none

story(team manager dashboard): create a team managers dashboard
  src/components/CadreSubmenu/CadreSubmenu.jsx
  src/components/CadreSubmenu/cadreUtils.js
  src/components/Header/MenuLink.jsx
  src/components/Header/__tests__/__snapshots__/Menu.spec.jsx.snap
  src/components/Header/navlinks.js
  src/components/RoleDetailsRight/__test__/__snapshots__/RoleDetailsRight.spec.js.snap
  src/static/file.svg
  src/static/grid.svg
  src/static/reports.svg
  src/views/CadreDashboard/CadreDashboard.jsx
  src/views/CadreTeamManagersDashboard/Applications/Applications.jsx
  src/views/CadreTeamManagersDashboard/Applications/__tests__/Applications.spec.jsx
  src/views/CadreTeamManagersDashboard/CadreTeamManagersContainer.js
  src/views/CadreTeamManagersDashboard/CadreTeamManagersDashboard.jsx
  src/views/CadreTeamManagersDashboard/MyTeams/MyTeams.jsx
  src/views/CadreTeamManagersDashboard/MyTeams/__tests__/MyTeam.spec.jsx
  src/views/CadreTeamManagersDashboard/Reports/Reports.jsx
  src/views/CadreTeamManagersDashboard/Reports/__tests__/Reports.spec.jsx
  src/views/CadreTeamManagersDashboard/__tests__/CadreTeamManangerDashboard.spec.jsx
  src/views/CadreTeamManagersDashboard/__tests__/__snapshots__/CadreTeamManangerDashboard.spec.jsx.snap
  src/views/CadreTeamManagersDashboard/index.js
  src/views/TTLDashboard/index.js
Due: eslint 'src/**/*.{js,jsx}' -c .eslintrc.json --fix, pretty-quick --staged, react-scripts test src/ -b --forceExit --coverage --watchAll=false

TOWER-16(project-applications): implement functionality for team manager to get applications
  src/redux/actionCreators/cadreTeamManager/__tests__/fetchApplications.spec.js
  src/redux/actionCreators/cadreTeamManager/applicationsActions.js
  src/redux/constants/cadreTeamManager/applicationsTypes.js
  src/redux/reducers/cadreTeamManager/applicationsReducer.js
  src/redux/reducers/index.js
  src/redux/reducers/initialState.js
  src/views/CadreTeamManagersDashboard/Applications/Applications.jsx
  src/views/CadreTeamManagersDashboard/Applications/Applications.scss
  src/views/CadreTeamManagersDashboard/Applications/ApplicationsContainer.js
  src/views/CadreTeamManagersDashboard/Applications/MapProjectApplications/MapProjectApplications.js
  src/views/CadreTeamManagersDashboard/Applications/MapProjectApplications/MapProjectApplications.scss
  src/views/CadreTeamManagersDashboard/Applications/MapProjectApplications/__tests__/MapProjectApplications.spec.js
  src/views/CadreTeamManagersDashboard/Applications/MapProjectApplications/__tests__/__snapshots__/MapProjectApplications.spec.js.snap
  src/views/CadreTeamManagersDashboard/Applications/MapProjectApplications/index.js
  src/views/CadreTeamManagersDashboard/Applications/__tests__/Applications.spec.jsx
  src/views/CadreTeamManagersDashboard/Applications/__tests__/TeamManagerViewApplications.spec.js
  src/views/CadreTeamManagersDashboard/Applications/__tests__/TeamManagerViewApplicationsContainer.spec.js
  src/views/CadreTeamManagersDashboard/Applications/__tests__/__snapshots__/TeamManagerViewApplications.spec.js.snap
  src/views/CadreTeamManagersDashboard/Applications/__tests__/__snapshots__/TeamManagerViewApplicationsContainer.spec.js.snap
  src/views/CadreTeamManagersDashboard/Applications/index.js
  src/views/CadreTeamManagersDashboard/CadreTeamManagersDashboard.jsx
Due: eslint 'src/**/*.{js,jsx}' -c .eslintrc.json --fix, prettier-stylelint --write 'src/**/*.{css,scss}', pretty-quick --staged, react-scripts test src/ -b --forceExit --coverage --watchAll=false

TOWER-47-story(team-manager): Team manager View team members
  src/components/StackRectangle/StackRectangle.scss
  src/components/StackRectangle/index.js
  src/redux/actionCreators/teamManagerActions.js
  src/redux/constants/teamManagerActionTypes.js
  src/redux/reducers/index.js
  src/redux/reducers/initialState.js
  src/redux/reducers/teamManagerReducer.js
  src/views/CadreDashboard/CadreDashboard.scss
  src/views/CadreTeamManagersDashboard/CadreTeamManagersDashboard.jsx
  src/views/CadreTeamManagersDashboard/MyTeams/MyTeamContainer.js
  src/views/CadreTeamManagersDashboard/MyTeams/MyTeams.jsx
  src/views/CadreTeamManagersDashboard/MyTeams/__tests__/MyTeam.spec.jsx
  src/views/CadreTeamManagersDashboard/MyTeams/__tests__/__snapshots__/MyTeam.spec.jsx.snap
  src/views/CadreTeamManagersDashboard/MyTeams/index.js
  src/views/CadreTeamManagersDashboard/__tests__/__snapshots__/CadreTeamManangerDashboard.spec.jsx.snap
Due: eslint 'src/**/*.{js,jsx}' -c .eslintrc.json --fix, prettier-stylelint --write 'src/**/*.{css,scss}', pretty-quick --staged, react-scripts test src/ -b --forceExit --coverage --watchAll=false

TOWER-47-story(team-manager): Team manager View team members
  src/__mocks__/managerTeamData.js
  src/components/StackRectangle/StackRectangle.scss
  src/components/StackRectangle/index.js
  src/redux/actionCreators/teamManagerActions.js
  src/redux/constants/teamManagerActionTypes.js
  src/redux/reducers/index.js
  src/redux/reducers/initialState.js
  src/redux/reducers/teamManagerReducer.js
  src/views/CadreDashboard/CadreDashboard.scss
  src/views/CadreTeamManagersDashboard/CadreTeamManagersDashboard.jsx
  src/views/CadreTeamManagersDashboard/MyTeams/MyTeamContainer.js
  src/views/CadreTeamManagersDashboard/MyTeams/MyTeams.jsx
  src/views/CadreTeamManagersDashboard/MyTeams/__tests__/MyTeam.spec.jsx
  src/views/CadreTeamManagersDashboard/MyTeams/__tests__/__snapshots__/MyTeam.spec.jsx.snap
  src/views/CadreTeamManagersDashboard/MyTeams/index.js
  src/views/CadreTeamManagersDashboard/__tests__/__snapshots__/CadreTeamManangerDashboard.spec.jsx.snap
Due: eslint 'src/**/*.{js,jsx}' -c .eslintrc.json --fix, prettier-stylelint --write 'src/**/*.{css,scss}', pretty-quick --staged, react-scripts test src/ -b --forceExit --coverage --watchAll=false

TOWER-47-story(team-manager): Team manager View team members
  src/components/TeamManagerCard/TeamCard.scss
Due: prettier-stylelint --write 'src/**/*.{css,scss}', pretty-quick --staged, react-scripts test src/ -b --forceExit --coverage --watchAll=false

story-TOWER-142(role): update role start date for engineers
  src/components/EngineerProjectSummaryCard/EngineerProjectSummaryCard.js
  src/components/Reports/Table.jsx
  src/components/Reports/__tests__/__snapshots__/Table.spec.jsx.snap
Due: eslint 'src/**/*.{js,jsx}' -c .eslintrc.json --fix, pretty-quick --staged, react-scripts test src/ -b --forceExit --coverage --watchAll=false

TOWER-47-story(team-manager): Team manager View team members
  src/redux/actionCreators/teamManagerActions.js
  src/views/CadreTeamManagersDashboard/MyTeams/MyTeams.jsx
  src/views/CadreTeamManagersDashboard/MyTeams/__tests__/MyTeam.spec.jsx
  src/views/CadreTeamManagersDashboard/__tests__/__snapshots__/CadreTeamManangerDashboard.spec.jsx.snap
Due: eslint 'src/**/*.{js,jsx}' -c .eslintrc.json --fix, pretty-quick --staged, react-scripts test src/ -b --forceExit --coverage --watchAll=false

TOWER-47-story(team-manager): Team manager View team members
  src/__mocks__/managerTeamData.js
  src/views/CadreTeamManagersDashboard/MyTeams/MyTeams.jsx
  src/views/CadreTeamManagersDashboard/MyTeams/__tests__/__snapshots__/MyTeam.spec.jsx.snap
  src/views/CadreTeamManagersDashboard/__tests__/__snapshots__/CadreTeamManangerDashboard.spec.jsx.snap
Due: eslint 'src/**/*.{js,jsx}' -c .eslintrc.json --fix, pretty-quick --staged, react-scripts test src/ -b --forceExit --coverage --watchAll=false

TOWER-47-story(team-manager): Team manager View team members
  src/components/CadreSubmenu/cadreUtils.js
  src/views/CadreDashboard/CadreDashboard.scss
  src/views/CadreTeamManagersDashboard/MyTeams/MyTeams.jsx
  src/views/CadreTeamManagersDashboard/MyTeams/__tests__/__snapshots__/MyTeam.spec.jsx.snap
  src/views/CadreTeamManagersDashboard/__tests__/__snapshots__/CadreTeamManangerDashboard.spec.jsx.snap
Due: eslint 'src/**/*.{js,jsx}' -c .eslintrc.json --fix, prettier-stylelint --write 'src/**/*.{css,scss}', pretty-quick --staged, react-scripts test src/ -b --forceExit --coverage --watchAll=false

TOWER-12-STORY(team-manager-applicants): implement filtering applicants by role
  src/components/FilterDropdown/index.scss
  src/views/CadreTeamManagersDashboard/Applications/MapProjectApplications/MapProjectApplications.js
  src/views/CadreTeamManagersDashboard/Applications/MapProjectApplications/MapProjectApplications.scss
  src/views/CadreTeamManagersDashboard/Applications/MapProjectApplications/__tests__/MapProjectApplications.spec.js
  src/views/CadreTeamManagersDashboard/Applications/MapProjectApplications/__tests__/__snapshots__/MapProjectApplications.spec.js.snap
Due: eslint 'src/**/*.{js,jsx}' -c .eslintrc.json --fix, prettier-stylelint --write 'src/**/*.{css,scss}', pretty-quick --staged, react-scripts test src/ -b --forceExit --coverage --watchAll=false

TOWER-11-story(tema-manager-team-members): implement filtering by on role
  src/components/FilterDropdown/index.js
  src/components/FilterDropdown/index.scss
  src/components/Header/Header.jsx
  src/components/TeamManagerCard/TeamCard.jsx
  src/views/CadreDashboard/CadreDashboard.scss
  src/views/CadreTeamManagersDashboard/MyTeams/MyTeams.jsx
  src/views/CadreTeamManagersDashboard/MyTeams/__tests__/MyTeam.spec.jsx
  src/views/CadreTeamManagersDashboard/MyTeams/__tests__/__snapshots__/MyTeam.spec.jsx.snap
  src/views/CadreTeamManagersDashboard/__tests__/__snapshots__/CadreTeamManangerDashboard.spec.jsx.snap
Due: eslint 'src/**/*.{js,jsx}' -c .eslintrc.json --fix, prettier-stylelint --write 'src/**/*.{css,scss}', pretty-quick --staged, react-scripts test src/ -b --forceExit --coverage --watchAll=false
