Repository avpaul/watchtower: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint 'src/**/*.{js,jsx}' -c .eslintrc.json --fix, prettier-stylelint --write 'src/**/*.{css,scss}', pretty-quick --staged, react-scripts test src/ -b --forceExit --coverage --watchAll=false

.lintstagedrc:

{
      "src/**/*.{js,jsx,ts,tsx,json,md}": [
        "eslint 'src/**/*.{js,jsx}' -c .eslintrc.json --fix"
      ],
      "src/**/*.{css,scss}": [
        "prettier-stylelint --write 'src/**/*.{css,scss}' "
      ],
      "src/**/*.{js,jsx,ts,tsx,json,css,scss,md}": [
        "pretty-quick --staged",
        "react-scripts test src/ -b --forceExit --coverage --watchAll=false",
        "git add"
      ]
  }

TOWER-123-story(projects): implement project deletion
  src/components/CadreDeletionModal/DeletionModal.jsx
  src/components/CadreDeletionModal/__tests__/__snapshots__/DeletionModal.spec.js.snap
  src/components/ProjectCard/ProjectCard.jsx
  src/components/ProjectCard/__tests__/ProjectCard.spec.jsx
  src/redux/actionCreators/__tests__/projects/DeleteProjectAction.spec.js
  src/redux/actionCreators/projectsActions.js
  src/redux/constants/projectsTypes.js
  src/redux/reducers/viewAllProjectsReducer.js
  src/views/CadreDashboard/ProjectsDashboard/DeleteProject/DeleteProjectContainer.js
  src/views/CadreDashboard/ProjectsDashboard/DeleteProjectModal/DeleteProjectModal.jsx
  src/views/CadreDashboard/ProjectsDashboard/DeleteProjectModal/DeleteProjectModalContainer.js
  src/views/CadreDashboard/ProjectsDashboard/DeleteProjectModal/__tests__/DeleteProjectModal.spec.jsx
  src/views/CadreDashboard/ProjectsDashboard/ViewProjects/__tests__/__snapshots__/ViewProjectsContainer.spec.jsx.snap
Due: eslint 'src/**/*.{js,jsx}' -c .eslintrc.json --fix, pretty-quick --staged, react-scripts test src/ -b --forceExit --coverage --watchAll=false

bug/TOWER-144(vacancies): fix vacancies on cadre engineers and ops dashboards
  src/components/TDDOpsVacancyCard/TDDOPsVacancyCard.js
  src/views/CadreDashboard/CertificatesDashboard/CadreDeleteCertification/DeleteCertificationModal.jsx
  src/views/CadreDashboard/CertificatesDashboard/CadreDeleteCertification/__tests__/__snapshots__/DeleteCertificationModal.spec.js.snap
  src/views/CadreDashboard/VacanciesDashboard/VacanciesDashboard.jsx
Due: eslint 'src/**/*.{js,jsx}' -c .eslintrc.json --fix, pretty-quick --staged, react-scripts test src/ -b --forceExit --coverage --watchAll=false

TOWER-77-story(certification): Engineers can apply for certification
  src/views/CadreFellowDashboard/CertificationPage/__tests__/CertificationPage.spec.jsx
  src/views/CadreFellowDashboard/CertificationPage/__tests__/__snapshots__/CertificationPage.spec.jsx.snap
Due: eslint 'src/**/*.{js,jsx}' -c .eslintrc.json --fix, pretty-quick --staged, react-scripts test src/ -b --forceExit --coverage --watchAll=false

story-TOWER-77(certification): apply finishing touches
  src/components/MapProjectRoleCard/__test__/__snapshots__/MapProjectRoleCard.spec.jsx.snap
  src/components/RoleAndCertificationCard/Card.jsx
  src/components/SellYourselfModal/SellYourselfModal.jsx
  src/components/SellYourselfModal/SellYourselfModal.scss
  src/components/SellYourselfModal/SellYourselfModal.spec.js
  src/components/SellYourselfModal/__snapshots__/SellYourselfModal.spec.js.snap
  src/redux/actionCreators/__tests__/cadreCertificationAction.spec.js
  src/redux/actionCreators/__tests__/certificationApplicationActions.spec.js
  src/redux/actionCreators/cadreCertificationActions.js
  src/redux/actionCreators/helpers.js
  src/redux/constants/cadreCertificationTypes.js
  src/redux/reducers/__tests__/cadreCertificationReducer.spec.js
  src/redux/reducers/cadreCertificationReducer.js
  src/redux/reducers/index.js
  src/redux/reducers/initialState.js
  src/static/Like.png
  src/views/CadreDashboard/CertificatesDashboard/CadreDeleteCertification/DeleteCertificationModalContainer.jsx
  src/views/CadreDashboard/CertificatesDashboard/CadreViewCertificates/CadreViewCertsContainer.jsx
  src/views/CadreDashboard/CertificatesDashboard/ViewCertificationApplicants/ViewCertificationApplicantsModalContainer.js
  src/views/CadreDashboard/VacanciesDashboard/AddVacanciesModal/AddVacanciesModalContainer.js
  src/views/CadreDashboard/VacanciesDashboard/AddVacanciesModal/addVacancyModal.scss
  src/views/CadreFellowDashboard/CertificationPage/CertificationPage.jsx
  src/views/CadreFellowDashboard/CertificationPage/CertificationPageContainer.jsx
  src/views/CadreFellowDashboard/CertificationPage/__tests__/CertificationPage.spec.jsx
  src/views/CadreFellowDashboard/CertificationPage/__tests__/__snapshots__/CertificationPage.spec.jsx.snap
Due: eslint 'src/**/*.{js,jsx}' -c .eslintrc.json --fix, prettier-stylelint --write 'src/**/*.{css,scss}', pretty-quick --staged, react-scripts test src/ -b --forceExit --coverage --watchAll=false

fix card styles
  src/components/RoleAndCertificationCard/Card.jsx
  src/components/RoleAndCertificationCard/__tests__/RoleandCertCard.spec.jsx
  src/components/RoleAndCertificationCard/__tests__/__snapshots__/RoleandCertCard.spec.jsx.snap
Due: eslint 'src/**/*.{js,jsx}' -c .eslintrc.json --fix, pretty-quick --staged, react-scripts test src/ -b --forceExit --coverage --watchAll=false

TOWER-72-story(apply): create apply for role functionality
  src/components/RoleDetailsRight/RoleDetailsRight.jsx
  src/components/RoleDetailsRight/__test__/RoleDetailsRight.spec.js
  src/components/RoleDetailsRight/__test__/__snapshots__/RoleDetailsRight.spec.js.snap
  src/components/SellYourselfModal/SellYourselfModal.jsx
  src/redux/actionCreators/applyForRoleActions.js
  src/redux/constants/applyForRoleTypes.js
  src/redux/reducers/applyForRoleReducer.js
  src/redux/reducers/index.js
  src/redux/reducers/initialState.js
  src/static/like.png
  src/views/CadreFellowDashboard/ProjectRoleDetails/ProjectRoleDetails.jsx
  src/views/CadreFellowDashboard/ProjectRoleDetails/__test__/__snapshots__/ProjectRoleDetails.spec.js.snap
  src/views/CadreFellowDashboard/RoleApplication/RoleApplication.jsx
  src/views/CadreFellowDashboard/RoleApplication/RoleApplication.scss
  src/views/CadreFellowDashboard/RoleApplication/RoleApplicationContainer.js
  src/views/CadreFellowDashboard/RoleApplication/__tests__/RoleApplication.spec.js
  src/views/CadreFellowDashboard/RoleApplication/__tests__/__snapshots__/RoleApplication.spec.js.snap
  src/views/CadreFellowDashboard/RoleApplication/index.js
  yarn.lock
Due: eslint 'src/**/*.{js,jsx}' -c .eslintrc.json --fix, prettier-stylelint --write 'src/**/*.{css,scss}', pretty-quick --staged, react-scripts test src/ -b --forceExit --coverage --watchAll=false

chore(jenkins): create a jenkins pipeline
  .circleci/config.yml
  .gitignore
  jenkins/Jenkinsfile
  jenkins/scripts/deploy.sh
  jenkins/scripts/gcloud.sh
  jenkins/scripts/slack.sh
  package.json
  yarn.lock
Due: none

TOWER-53-bug(side-menu): make side-menu and header static
  src/assets/sass/layout/_layout.scss
  src/components/CadreSubmenu/CadreSubmenu.jsx
  src/components/Header/CadreHeader.js
  src/components/Header/FellowHeader.js
  src/components/Header/Header.jsx
  src/components/Header/Header.scss
  src/components/Header/ManagerHeader.js
  src/components/Header/__tests__/__snapshots__/CadreHeader.spec.jsx.snap
  src/components/LargeModal/LargeModal.scss
  src/components/LogOutModal/LogOutModal.scss
  src/index.css
  src/views/CadreDashboard/CadreDashboard.jsx
  src/views/CadreDashboard/CadreDashboard.scss
Due: eslint 'src/**/*.{js,jsx}' -c .eslintrc.json --fix, prettier-stylelint --write 'src/**/*.{css,scss}', pretty-quick --staged, react-scripts test src/ -b --forceExit --coverage --watchAll=false

Tower-74-bug(ops-dashboard-placeholders): Add Empty placeholders for cadre dashboards
  src/components/MapProjectCards/MapProjectCards.jsx
  src/components/MapProjectCards/__test__/MapProjectCards.spec.jsx
  src/components/MapProjectCards/__test__/__snapshots__/MapProjectCards.spec.jsx.snap
  src/components/MapProjectRoleCard/MapProjectRoleCard.jsx
  src/components/MapProjectRoleCard/MapProjectRoleCard.scss
  src/components/WorkInProgress/WorkInProgress.jsx
  src/components/WorkInProgress/WorkInProgress.scss
  src/views/CadreDashboard/VacanciesDashboard/ViewVacancies/ViewVacancies.js
  src/views/CadreDashboard/VacanciesDashboard/ViewVacancies/__tests__/ViewVacancies.spec.js
  src/views/CadreDashboard/VacanciesDashboard/ViewVacancies/__tests__/__snapshots__/ViewVacancies.spec.js.snap
Due: eslint 'src/**/*.{js,jsx}' -c .eslintrc.json --fix, prettier-stylelint --write 'src/**/*.{css,scss}', pretty-quick --staged, react-scripts test src/ -b --forceExit --coverage --watchAll=false

TOWER-70-bug(vacancy): Move pagination to bottom of page
  src/views/CadreDashboard/VacanciesDashboard/ViewVacancies/ViewVacancies.scss
Due: prettier-stylelint --write 'src/**/*.{css,scss}', pretty-quick --staged, react-scripts test src/ -b --forceExit --coverage --watchAll=false

TOWER-79(Operation Manager): Show loader when saving
  src/views/CadreDashboard/ProjectsDashboard/ProjectForm/ProjectForm.jsx
Due: eslint 'src/**/*.{js,jsx}' -c .eslintrc.json --fix, pretty-quick --staged, react-scripts test src/ -b --forceExit --coverage --watchAll=false

TOWER-73(certification): change certification icon
  src/components/CadreSubmenu/cadreUtils.js
  src/static/certification.svg
  src/static/certificationActive.svg
Due: eslint 'src/**/*.{js,jsx}' -c .eslintrc.json --fix, pretty-quick --staged, react-scripts test src/ -b --forceExit --coverage --watchAll=false

feature (view role vacancies) displaying role applicants
  src/components/RoleAndCertificationCard/Card.jsx
  src/components/RoleAndCertificationCard/__tests__/RoleandCertCard.spec.jsx
  src/components/RoleAndCertificationCard/__tests__/__snapshots__/RoleandCertCard.spec.jsx.snap
  src/redux/actionCreators/__tests__/cadreProjectRoleActions.spec.js
  src/redux/actionCreators/cadreProjectRoleActions.js
  src/redux/constants/cadreProjectRolesTypes.js
  src/redux/reducers/__tests__/cadreProjectRoleReducer.spec.js
  src/redux/reducers/cadreProjectRoleReducer.js
  src/redux/reducers/index.js
  src/redux/reducers/initialState.js
  src/views/CadreDashboard/CertificatesDashboard/__tests__/CertificatesDashboard.spec.js
  src/views/CadreDashboard/RolesDashboard/ViewRoleApplicants/__tests__/ViewRoleApplicantsModal.spec.js
  src/views/CadreDashboard/RolesDashboard/ViewRoleApplicants/__tests__/__snapshots__/ViewRoleApplicantsModal.spec.js.snap
  src/views/CadreDashboard/RolesDashboard/ViewRoleApplicants/__tests__/viewRoleApplicantsModalContainer.js
  src/views/CadreDashboard/RolesDashboard/ViewRoleApplicants/index.js
  src/views/CadreDashboard/RolesDashboard/ViewRoleApplicants/viewRoleApplicantsModal.jsx
  src/views/CadreDashboard/RolesDashboard/ViewRoleApplicants/viewRoleApplicantsModalContainer.js
Due: eslint 'src/**/*.{js,jsx}' -c .eslintrc.json --fix, pretty-quick --staged, react-scripts test src/ -b --forceExit --coverage --watchAll=false

Tower-77-bug(ops): fix vacancy cards - Fix the spacing between vacancies cards to match mockup
  src/views/CadreDashboard/VacanciesDashboard/ViewVacancies/ViewVacancies.scss
Due: prettier-stylelint --write 'src/**/*.{css,scss}', pretty-quick --staged, react-scripts test src/ -b --forceExit --coverage --watchAll=false

TOWER-66-bug(file-upload): Limit Document file upload size
  src/components/FormInputs/fileUploadInput.jsx
  src/views/CadreDashboard/CadreDashboard.scss
  src/views/CadreDashboard/ProjectsDashboard/ProjectForm/ProjectFormLeft.js
  src/views/CadreDashboard/ProjectsDashboard/ProjectForm/ProjectFormRight.js
Due: eslint 'src/**/*.{js,jsx}' -c .eslintrc.json --fix, prettier-stylelint --write 'src/**/*.{css,scss}', pretty-quick --staged, react-scripts test src/ -b --forceExit --coverage --watchAll=false

Tower-82 Project description fits in design well
  src/components/CadreProjectDetails/CadreProjectDetails.scss
Due: prettier-stylelint --write 'src/**/*.{css,scss}', pretty-quick --staged, react-scripts test src/ -b --forceExit --coverage --watchAll=false

Tower-72-bug(ops): fix create certification modal - Fix the styling on the certification card modal to match mockup
  src/components/MapProjectRoleCard/MapProjectRoleCard.jsx
  src/components/RadioButton/RadioButton.jsx
  src/components/RadioButton/__tests__/__snapshots__/RadioButton.spec.jsx.snap
  src/views/CadreDashboard/CertificatesDashboard/CadreAddCertification/AddCertificationModal/AddCertificationModal.scss
Due: eslint 'src/**/*.{js,jsx}' -c .eslintrc.json --fix, prettier-stylelint --write 'src/**/*.{css,scss}', pretty-quick --staged, react-scripts test src/ -b --forceExit --coverage --watchAll=false

TOWER-85-story(TDD) : redesign search input - Redesign the search input on vacancies tab to match that on the reports dashboard.
  src/views/CadreDashboard/VacanciesDashboard/ViewVacancies/ViewVacancies.js
  src/views/CadreDashboard/VacanciesDashboard/ViewVacancies/ViewVacancies.scss
  src/views/CadreDashboard/VacanciesDashboard/ViewVacancies/__tests__/__snapshots__/ViewVacancies.spec.js.snap
Due: eslint 'src/**/*.{js,jsx}' -c .eslintrc.json --fix, prettier-stylelint --write 'src/**/*.{css,scss}', pretty-quick --staged, react-scripts test src/ -b --forceExit --coverage --watchAll=false

Tower-71 Resise loader for program manager
  src/components/CustomLoader/LoaderComponent.jsx
  src/components/CustomLoader/PMLoader.jsx
  src/components/CustomLoader/__tests__/__snapshots__/CustomLoader.spec.jsx.snap
  src/static/undraw_light_the_fire_gt58_new.svg
  yarn.lock
Due: eslint 'src/**/*.{js,jsx}' -c .eslintrc.json --fix, pretty-quick --staged, react-scripts test src/ -b --forceExit --coverage --watchAll=false

activate google analytics on in production
  .circleci/config.yml
  jenkins/Jenkinsfile
Due: none

TOWER-81(routes): protect ops route from cadre fellows
  src/redux/actionCreators/helpers.js
  src/routes/DashboardRoutes.jsx
  src/routes/FellowRoutesHoc.js
  src/routes/__tests__/DashboardRoutes.spec.jsx
  src/routes/__tests__/FellowRoutesHoc.spec.jsx
  src/routes/index.jsx
  src/views/CadreDashboard/CadreDashboard.jsx
  src/views/CadreFellowDashboard/CadreFellowDashboard.jsx
  src/views/CadreFellowDashboard/__tests__/CadreFellowDashboard.spec.jsx
  src/views/EngineeringManagerSimsLeadDashboard/index.js
  src/views/FellowDashboard/index.jsx
  src/views/OpsDashboard/index.js
  src/views/TTLDashboard/index.js
Due: eslint 'src/**/*.{js,jsx}' -c .eslintrc.json --fix, pretty-quick --staged, react-scripts test src/ -b --forceExit --coverage --watchAll=false

tower-92(certification-vacancy): add validation to certification vacancy
  src/views/CadreDashboard/VacanciesDashboard/AddVacanciesModal/AddVacanciesModal.jsx
Due: eslint 'src/**/*.{js,jsx}' -c .eslintrc.json --fix, pretty-quick --staged, react-scripts test src/ -b --forceExit --coverage --watchAll=false

Tower-75-bug(cadre): fix size of loader - Add a new loader similar to the one that is being used on the ops dashboard for uniformity - Reduce the size of the loader relative to the page
  src/components/CustomLoader/LoaderComponent.jsx
  src/components/CustomLoader/PMLoader.jsx
  src/components/CustomLoader/__tests__/__snapshots__/CustomLoader.spec.jsx.snap
  src/routes/FellowRoutesHoc.js
  src/static/undraw_light_the_fire_gt58_new.svg
  src/views/CadreDashboard/CadreDashboardMain.jsx
Due: eslint 'src/**/*.{js,jsx}' -c .eslintrc.json --fix, pretty-quick --staged, react-scripts test src/ -b --forceExit --coverage --watchAll=false

TOWER-91-task(CircleCI): fix the approval stage for CircleCI jobs
  .circleci/config.yml
Due: none

Tower-93-bug(ops): fix role modal placeholder - Change the placeholder to be more descriptive
  src/views/CadreDashboard/ProjectsDashboard/AddRoleModal/AddRoleModal.jsx
  src/views/CadreDashboard/ProjectsDashboard/AddRoleModal/__tests__/__snapshots__/AddRoleModal.spec.js.snap
Due: eslint 'src/**/*.{js,jsx}' -c .eslintrc.json --fix, pretty-quick --staged, react-scripts test src/ -b --forceExit --coverage --watchAll=false

task-add(certification-vacancy): add loader to certification vacancy creation button
  src/components/Buttons/Button.scss
  src/views/CadreDashboard/VacanciesDashboard/AddVacanciesModal/AddVacanciesModal.jsx
Due: eslint 'src/**/*.{js,jsx}' -c .eslintrc.json --fix, prettier-stylelint --write 'src/**/*.{css,scss}', pretty-quick --staged, react-scripts test src/ -b --forceExit --coverage --watchAll=false

TOWER-89-story(frontend):create project vacancy:
  src/__mocks__/projectVacancy.js
  src/components/FeedbackDuration/FeedbackDuration.jsx
  src/components/FeedbackDuration/FeedbackDuration.scss
  src/components/FeedbackDuration/__tests__/__snapshots__/FeedbackDuration.spec.js.snap
  src/components/FormInputs/dropdownInput.jsx
  src/components/FormInputs/dropdownInput.scss
  src/components/MapFellowsFilterCard/MapFellowsFilterCard.jsx
  src/components/RoleAndCertificationCard/Card.jsx
  src/components/RoleAndCertificationCard/__tests__/__snapshots__/RoleandCertCard.spec.jsx.snap
  src/components/TDDOpsVacancyCard/TDDOPsVacancyCard.js
  src/components/TDDOpsVacancyCard/__test__/TDDOPsVacancyCard.spec.js
  src/components/TDDOpsVacancyCard/__test__/__snapshots__/TDDOPsVacancyCard.spec.js.snap
  src/views/CadreDashboard/ProjectsDashboard/AddRoleModal/AddRoleModal.jsx
  src/views/CadreDashboard/ProjectsDashboard/AddRoleModal/__tests__/AddRoleModal.spec.js
  src/views/CadreDashboard/ProjectsDashboard/AddRoleModal/__tests__/__snapshots__/AddRoleModal.spec.js.snap
  src/views/CadreDashboard/VacanciesDashboard/AddVacanciesModal/AddVacanciesModal.jsx
  src/views/CadreDashboard/VacanciesDashboard/AddVacanciesModal/__tests__/AddVacancyModal.spec.js
  src/views/CadreDashboard/VacanciesDashboard/AddVacanciesModal/__tests__/__snapshots__/AddVacancyModal.spec.js.snap
  src/views/CadreDashboard/VacanciesDashboard/__tests__/__snapshots__/vacanciesDashboard.spec.js.snap
  src/views/FeedbackDashboard/__tests__/__snapshots__/FeedbackDashboard.spec.jsx.snap
Due: eslint 'src/**/*.{js,jsx}' -c .eslintrc.json --fix, prettier-stylelint --write 'src/**/*.{css,scss}', pretty-quick --staged, react-scripts test src/ -b --forceExit --coverage --watchAll=false

TOWER-89-bug-(certifications): edit certification success message
  src/components/EditCertificationModal/EditCertifcationModal.jsx
  src/components/EditCertificationModal/__tests__/EditCertificationModal.spec.jsx
  src/redux/actionCreators/opsEditCertificationActions.js
Due: eslint 'src/**/*.{js,jsx}' -c .eslintrc.json --fix, pretty-quick --staged, react-scripts test src/ -b --forceExit --coverage --watchAll=false

add 404 page
  src/components/CadreProjectDetails/ProjectDetails.jsx
  src/static/NotFound.svg
  src/views/CadreDashboard/CadreDashboard.jsx
  src/views/CadreDashboard/CertificatesDashboard/CertificateDashboard.jsx
  src/views/CadreDashboard/ProjectsDashboard/ProjectsDashboard.jsx
  src/views/CadreDashboard/RolesDashboard/RolesDashboard.jsx
  src/views/NotFoundPage/NotFoundPage.jsx
  src/views/NotFoundPage/__tests__/NotFoundPage.spec.jsx
Due: eslint 'src/**/*.{js,jsx}' -c .eslintrc.json --fix, pretty-quick --staged, react-scripts test src/ -b --forceExit --coverage --watchAll=false

Fixed validation of slack channel when not available
  src/components/CadreProjectDetails/ProjectLinks.jsx
  src/components/CadreProjectDetails/__tests__/__snapshots__/ProjectDetails.spec.jsx.snap
  src/views/CadreDashboard/ProjectsDashboard/ProjectForm/ProjectForm.jsx
Due: eslint 'src/**/*.{js,jsx}' -c .eslintrc.json --fix, pretty-quick --staged, react-scripts test src/ -b --forceExit --coverage --watchAll=false

bug-cadre-dashboard(header): remove position fixed
  src/components/Header/CadreHeader.js
  src/components/Header/__tests__/__snapshots__/CadreHeader.spec.jsx.snap
  src/components/SellYourselfModal/SellYourselfModal.scss
Due: eslint 'src/**/*.{js,jsx}' -c .eslintrc.json --fix, prettier-stylelint --write 'src/**/*.{css,scss}', pretty-quick --staged, react-scripts test src/ -b --forceExit --coverage --watchAll=false

Tower-96-bugs(cadre) change placeholder text project card
  src/components/EngineerProjectSummaryCard/EngineerProjectSummaryCard.js
Due: eslint 'src/**/*.{js,jsx}' -c .eslintrc.json --fix, pretty-quick --staged, react-scripts test src/ -b --forceExit --coverage --watchAll=false

Tower-97-bugs(ops): fix to show availability of applicant
  src/components/FellowRolesCard/FellowRolesCard.jsx
  src/components/FellowRolesCard/__tests__/__snapshots__/FellowRolesCard.spec.jsx.snap
  src/views/CadreDashboard/RolesDashboard/ViewRoleApplicants/__tests__/__snapshots__/ViewRoleApplicantsModal.spec.js.snap
Due: eslint 'src/**/*.{js,jsx}' -c .eslintrc.json --fix, pretty-quick --staged, react-scripts test src/ -b --forceExit --coverage --watchAll=false

change words to characters
  src/components/RoleAndCertificationCard/Card.jsx
  src/components/RoleAndCertificationCard/__tests__/__snapshots__/RoleandCertCard.spec.jsx.snap
  src/components/SellYourselfModal/SellYourselfModal.jsx
  src/components/SellYourselfModal/__snapshots__/SellYourselfModal.spec.js.snap
Due: eslint 'src/**/*.{js,jsx}' -c .eslintrc.json --fix, pretty-quick --staged, react-scripts test src/ -b --forceExit --coverage --watchAll=false

bug(validate input field): ensure duration input field does not receive a negative number
  src/components/EditCertificationModal/EditCertifcationModal.jsx
  src/components/EditCertificationModal/__tests__/EditCertificationModal.spec.jsx
  src/components/EditCertificationModal/__tests__/__snapshots__/EditCertificationModal.spec.jsx.snap
  src/redux/reducers/__tests__/cadreVacanciesReducer.spec.js
  src/redux/reducers/__tests__/createProjectVacanciesReducer.spec.js
  src/redux/reducers/__tests__/getAllVacanciesReducer.spec.js
  src/redux/reducers/__tests__/getCertificationReducer.spec.js
  src/redux/reducers/__tests__/opsEditCertificationReducer.spec.js
  src/redux/reducers/initialState.js
  src/views/CadreDashboard/CertificatesDashboard/CadreDeleteCertification/__tests__/__snapshots__/DeleteCertificationModalContainer.spec.jsx.snap
  src/views/CadreDashboard/ProjectsDashboard/ProjectForm/__tests__/__snapshots__/projectFormContainer.spec.jsx.snap
  src/views/CadreDashboard/VacanciesDashboard/AddVacanciesModal/__tests__/AddVacancyModal.spec.js
  src/views/CadreDashboard/VacanciesDashboard/AddVacanciesModal/__tests__/__snapshots__/AddVacancyModal.spec.js.snap
  src/views/CadreDashboard/VacanciesDashboard/DeleteVacanciesModal/__tests__/__snapshots__/DeleteVacanciesModalContainer.spec.jsx.snap
  src/views/CadreDashboard/VacanciesDashboard/__tests__/__snapshots__/VacanciesDashboardContainer.spec.jsx.snap
Due: eslint 'src/**/*.{js,jsx}' -c .eslintrc.json --fix, pretty-quick --staged, react-scripts test src/ -b --forceExit --coverage --watchAll=false

fx(vacancy-countdown): - refactor ops and cadre engineer dasboard vacancy cards
  .gitignore
  src/components/EngineerVacancies/EngineerVacancies.jsx
  src/components/EngineerVacancies/EngineerVacancies.scss
  src/components/EngineerVacancies/EngineerVacancyCard.jsx
  src/components/EngineerVacancies/__test__/EngineerVacancies.spec.jsx
  src/components/EngineerVacancies/__test__/EngineerVacancyCard.spec.jsx
  src/components/EngineerVacancies/__test__/__snapshots__/EngineerVacancies.spec.jsx.snap
  src/components/EngineerVacancies/__test__/__snapshots__/EngineerVacancyCard.spec.jsx.snap
  src/components/TDDOpsVacancyCard/TDDOPsVacancyCard.js
  src/components/TDDOpsVacancyCard/TDDOPsVacancyCard.scss
  src/components/TDDOpsVacancyCard/__test__/TDDOPsVacancyCard.spec.js
  src/components/TDDOpsVacancyCard/__test__/__snapshots__/TDDOPsVacancyCard.spec.js.snap
  src/utils/__tests__/dateCountDown.spec.js
  src/utils/dateCountDown.js
  src/utils/formatDate.js
Due: eslint 'src/**/*.{js,jsx}' -c .eslintrc.json --fix, prettier-stylelint --write 'src/**/*.{css,scss}', pretty-quick --staged, react-scripts test src/ -b --forceExit --coverage --watchAll=false

TOWER-90(card-display): fix display for the certifications and roles card - update the class name to ensure the certification and roles card display 4 in a row. - update test to reflect the change.
  src/components/MapProjectRoleCard/MapProjectRoleCard.jsx
  src/components/MapProjectRoleCard/__test__/__snapshots__/MapProjectRoleCard.spec.jsx.snap
  src/components/RoleAndCertificationCard/Card.jsx
  src/components/RoleAndCertificationCard/Card.scss
  src/components/RoleAndCertificationCard/__tests__/__snapshots__/RoleandCertCard.spec.jsx.snap
Due: eslint 'src/**/*.{js,jsx}' -c .eslintrc.json --fix, prettier-stylelint --write 'src/**/*.{css,scss}', pretty-quick --staged, react-scripts test src/ -b --forceExit --coverage --watchAll=false

fix(project): update invision link input label to mockup link
  src/views/CadreDashboard/ProjectsDashboard/ProjectForm/ProjectFormLeft.js
  src/views/CadreDashboard/ProjectsDashboard/ProjectForm/__tests__/projectForm.spec.js
Due: eslint 'src/**/*.{js,jsx}' -c .eslintrc.json --fix, pretty-quick --staged, react-scripts test src/ -b --forceExit --coverage --watchAll=false

tower-77(certification): disable apply button after successful application
  src/components/EngineerVacancies/EngineerVacancies.jsx
  src/components/EngineerVacancies/EngineerVacancyCard.jsx
  src/components/EngineerVacancies/__test__/EngineerVacancies.spec.jsx
  src/components/EngineerVacancies/__test__/EngineerVacancyCard.spec.jsx
  src/components/EngineerVacancies/__test__/__snapshots__/EngineerVacancies.spec.jsx.snap
  src/components/SellYourselfModal/SellYourselfModal.jsx
  src/components/SellYourselfModal/SellYourselfModal.scss
  src/components/SellYourselfModal/SellYourselfModal.spec.js
  src/components/SellYourselfModal/__snapshots__/SellYourselfModal.spec.js.snap
  src/redux/actionCreators/__tests__/certificationApplicationActions.spec.js
  src/redux/actionCreators/__tests__/getCertificationActions.spec.js
  src/redux/actionCreators/getCertificationActions.js
  src/redux/constants/cadreCertificationTypes.js
  src/redux/constants/certificationTypes.js
  src/redux/reducers/__tests__/getCertificationReducer.spec.js
  src/redux/reducers/cadreCertificationReducer.js
  src/redux/reducers/getCertificationReducer.js
  src/redux/reducers/index.js
  src/views/CadreDashboard/CadreDashboardMain.jsx
  src/views/CadreDashboard/__tests__/CadreDashboardMain.spec.jsx
  src/views/CadreDashboard/__tests__/__snapshots__/CadreDashboardMain.spec.jsx.snap
  src/views/CadreFellowDashboard/CadreFellowDashboard.jsx
  src/views/CadreFellowDashboard/CadrePage/__tests__/CadrePage.spec.jsx
  src/views/CadreFellowDashboard/CertificationPage/CertificationPage.jsx
  src/views/CadreFellowDashboard/CertificationPage/CertificationPage.scss
  src/views/CadreFellowDashboard/CertificationPage/CertificationPageContainer.jsx
  src/views/CadreFellowDashboard/CertificationPage/__tests__/CertificationPage.spec.jsx
  src/views/CadreFellowDashboard/CertificationPage/__tests__/__snapshots__/CertificationPage.spec.jsx.snap
Due: eslint 'src/**/*.{js,jsx}' -c .eslintrc.json --fix, prettier-stylelint --write 'src/**/*.{css,scss}', pretty-quick --staged, react-scripts test src/ -b --forceExit --coverage --watchAll=false

Tower-101-bugs(role-cert-card): fix height issue with card - ensure the text does not overflow when see more is clicked on card
  src/components/RoleAndCertificationCard/Card.scss
Due: prettier-stylelint --write 'src/**/*.{css,scss}', pretty-quick --staged, react-scripts test src/ -b --forceExit --coverage --watchAll=false
